.button{
	position: relative;
display: block;
height: 52px;
  margin: 10px 10px;
overflow: hidden;
width: 300px;
cursor: pointer;
  background: #305c99;
}
.icon i {
    color: #fff;
    font-size: 37px;
}
.facebookText p{
font-weight: 400;
border-left: 1px solid #fff;
border-left: 1px solid rgba(255,255,255,0.35);
color: #fff;
font-size: 18px;
left: 0;
margin: 0;
position: absolute;
text-align: center;
top:12px;
  padding: 5px 0 5px 0;
width: 100%;
}
.facebook .icon, .facebookText {
    background: #305c99;
}
.icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 46px;
    text-align: center;
}
.facebookText{z-index: 2;
display: block;
margin: 0;
height: 100%;
left: 46px;
position: absolute;
width: 235px;
}

.statsBar{
	text-align: center;
	background-color: #38c0ff!Important;
	color: white;
	padding-top: 10px;
	line-height: 100%;
}

.statsBar p{
	padding: 10px !important;
	font-family: Nunito-Regular;
}

.statsBarNumber{
	font-size: 30px;
	margin-right: 5px;
}

.statsBarText{
	font-size: 18px;
	letter-spacing: 1px;
}

h2.whatWeDoHeading{
	font-size: 30px;
	text-align: center;
	padding-bottom: 1%;
	padding-right: 5px;
	position: relative;
	display: inline-block;
	margin-bottom: 3%;
	letter-spacing: 1px;
	font-family: Poppins-SemiBold;
}

h2.whatWeDoHeading:before{
	  content: "";
    position: absolute;
    width: 8.6%;
    bottom: 0;
    left: 46%;
    border-bottom: 2px solid #38c0ff;
}

.connectWithFacebook {
    background-color: #f8f8ff;
    padding: 4vw 3vw 4vw 3vw;
    position: relative;
    height: 25vw;
  line-height: 400%;
}
.connectWithFacebookLine {
  position: absolute;
  padding-top: 2.3%;
  border-right: 1px solid black;
  padding-bottom: 2%;
}
.connectWithFacebook h1{
	font-size: 50px;
	font-family: Poppins-Regular;
	letter-spacing: 1.5px;
}
.connectWithFacebook span{
	color: rgb(0,180,255);
	font-family: Poppins-SemiBold;
}
.connectWithFacebookImage{
	position: absolute;
	top: 42%;
	right: -10%;
}
.connectWithFacebookImage img {
    height: 53px;
    position: absolute;
    cursor: pointer;
}
.connectWithFacebookImage img:hover {
    height: 54px;
    margin-top: -2px;
    margin-left: -2px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.5), 2px 0px 1px 0px rgba(0,0,0,0.5), 2px 2px 1px 0px rgba(0,0,0,0.5), 0px -1px 1px 0px rgba(0,0,0,0.5), -1px 0px 1px 0px rgba(0,0,0,0.5), -1px -1px 1px 0px rgba(0,0,0,0.5);
   
}


.trustNetwork{
	height: 32.9vw;
	background-image: url(images/reimagineTrustNetworkBackground.png);
	background-size: cover;
	position: relative;
	font-family: Poppins-Regular;
}

/*trustNetworkButton*/

.content {
    font-family: Nunito-Light;
    color: white;
    left: 50%;
    top: 20%;
  position: absolute;
    font-size: 20px;
  
    margin-right: 5%;
}

.trustNetworkButton {
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: absolute;
  bottom: 0;
  right: 5%;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  background: rgb(255,255,255);
  font-weight: 100;
  color: rgb(0,180,255);
  text-align: center;
}

.trustNetworkButton svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.trustNetworkButton rect {
  fill: none;
  stroke: rgb(255,255,255);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.trustNetworkButton:hover {
  background: rgba(225, 51, 45, 0);
  color:white;
  font-weight: 900;
  letter-spacing: 1px;
}
.trustNetworkButton:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.trustNetworkHeading{
	position: absolute;
	bottom: 34%;
	left: 4.8%;
	color: white;
  letter-spacing: 0.5px;
}
.content{
  font-family: SourceSansPro-Light;
  letter-spacing: 2px;
  line-height: 140%;
  font-size: 23px;
}
.content span {
    font-family: SourceSansPro-SemiBold;
}

.trustNetworkHeading span{
	font-family: Montserrat-SemiBold;
}