/* Buttons */
.social-btns {
    text-align: center;
}

.social-btns li {
    margin: 8px;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 768px) {

    .social-btns li {
        margin: 2.5%;
    }
}

/* Flip Button */
.social-btn-flip {
    display: inline-block;
    -webkit-perspective: 700;
    perspective: 700;
}

.social-btn-flip:hover .social-btn-cube {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.social-btn-cube {
    width: 60px;
    height: 60px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    -webkit-transform-origin: 30px 30px -30px;
    transform-origin: 30px 30px -30px;
}

.social-btn-face {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

.social-btn-face.default {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.social-btn-face.active {
    box-shadow: inset 60px 60px 0 rgba(0, 0, 0, 0.1);
    left: 60px;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.social-btn-face.twitter {
    background: #4cc4f2;
}

.social-btn-face.facebook {
    background: #3b5998;
}

.social-btn-face.google {
    background: #dd4b39;
}

.social-btn-face.pinterest {
    background: #cb2027;
}

.social-btn-face.instagram {
    background: #9b6954;
}

.social-btn-face.tumblr {
    background: #32506d;
}


/* Sections */
.section {
    background: white;
    padding: 7% 20px;
    position: relative;
}

@media (min-width: 768px) {

    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
}