{% extends 'base.html' %}

{% block content %}

    {% if not user.is_authenticated %}


									<form action="{% url 'login' %}" method="POST">
                                    {% csrf_token %}
									  <input name="username" placeholder="Email" type="text"/>
									  <input name="password" placeholder="Password" type="Password" />
                                        <span onclick="SignMeUp()"><button type="submit" value="submit" class="btn">Log In</button></span>
{#										 <div class="btn">Log in</div>#}
										 <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Log In</div>
										 <div class="btn fbbtn"><i class="fa fa-facebook"></i>Log In</div>
									</form>
  <br>

     {% else %}{{ user.username }}
    {% endif %}
{% endblock %}