{#{% extends 'base.html' %}#}

{% block form %}
  <form  method="post" action="{% url 'register' %}">
  {% csrf_token %}
	<input name="first_name" placeholder="First Name" type="text" />
      <input name="last_name" placeholder="Last Name" type="text" />

      <input name="username" placeholder="Email" type="text" />
									  <input name="password" placeholder="Password" type="Password" />
									  <input name="password2" placeholder="Confirm Password" type="Password" />
                                      <button type="submit" value="submit" class="btn">Sign Up</button>
									  <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Sign Up</div>
                                      <div class="btn fbbtn"><i class="fa fa-facebook"></i>Sign Up</div>
									</form>
  <br>

{% endblock %}