
*:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

form {
  display: block;
}

label,
input {
  display: block;
}

.animate, .btn, .btn span, .signup-form input {
  -webkit-transition: all 0.3s;
  transition: all 0.4s;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-heading {
  line-height: 100%;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  color: black;
}

.btn {
  display: block;
  height: 50px;
  line-height: 50px;
  border: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn span {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.btn span .fa {
  margin-left: 8px;
  font-size: 18px;
  vertical-align: middle;
}
.btn:not(.btn-outline) {
  background-color: #fff;
}
.btn:not(.btn-outline) span {
  color: #666;
}
.btn:not(.btn-outline):hover {
  background-color: #f7f7f7;
}
.btn.btn-outline {
  background-color: transparent;
  border: 1px solid black;
}
.btn.btn-outline span {
  color: black;
}
.btn.btn-outline:hover {
  background-color: black;
}
.btn.btn-outline:hover span {
  color: #666;
}


 .blurb {
  margin-top: 35px;
  line-height: 100%;
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.blurb-tagline {
  display: block;
  margin-top: 10px;
  line-height: 100%;
  font-size: 14px;
  color: black;
}
.signup-form {
  margin-top: 35px;
  color: black;
}
.signup-form label {
  line-height: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  color: black;
}
.signup-form input {
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 8px;
  border: 1px solid black;
  border-radius: 5px;
}
.signup-form input:hover, .signup-form input:focus {
  border-color: white;
}
 .signup-form .submit-btn {
  width: 150px;
}
.open {
  z-index: 15;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: opacity 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s;
  transition: opacity 0.5s, transform 0.5s, z-index 0s, -webkit-transform 0.5s;
}
.short {
  margin: 30px auto;
}

