
.projectGallery .row:after {
  content: "";
  display: table;
  clear: both;
}
.projectGallery {
    margin: 15px 0;
}

.projectGallery .column {
  float: left;
  width: 25%;
  padding: 0.5%;
}
.myGallerydemo.cursor:hover {
    border: 1px solid white;
}
.myGallerydemo {
    border: 1px solid rgba(0,0,0,0.15);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;
  background-color: rgba(0,0,0,0.15);
  margin: 0 !important;
}

/* Modal Content */
.projectGallery .modal-content {
  position: relative;
  background-color: transparent;
  margin: 4% auto;
  padding: 0;
  width: 70%;
  max-width: 1200px;
  height: 100vh;
}

/* The Close Button */
.projectGallery .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.projectGallery .close:hover,
.projectGallery .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.projectGallery .mySlides {
  display: none;
}

.projectGallery.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.projectGallery .prev,
.projectGallery .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.projectGallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.projectGallery .prev:hover,
.projectGallery .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.projectGallery  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.projectGallery .demo {
  opacity: 0.6;
}

.projectGallery .activeImage,
.projectGallery .demo:hover {
  opacity: 1;
}

.projectGallery img.hover-shadow {
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid white;
}

.projectGallery img.hover-shadow:hover {
  border: 1px solid black;
}