 .centerContainerTop h1 {
    font-family: SourceSansPro-SemiBold;
    font-size: 45px;
    margin-bottom: 50px;
}
.centerContainerTop h2{
	font-size: 20px;
    line-height: 130%;
    color: #6a6a6a;
 }

.centerContainerTop {
    height: 285px;
    text-align: center;
    color: #373737;
    padding: 55px 50px;
}

header {
    box-shadow: none;
}

.centerContainerTop h1 span {
    color: #38c0ff;
}

.centerContainerSecond {
    background: #38c0ff;
    text-align: center;
    padding: 50px 5vw;
    color: white;
}

.centerContainerSecond h1 {
	margin-bottom: 60px;
    font-family: SourceSansPro-SemiBold;
}

.centerContainerSecond h1 span {
    border-bottom: 3px solid;
    padding: 10px 70px;
    font-size: 40px;
}

.centerContainerSecond h2 {
    font-size: 22px;
    font-family: SourceSansPro-Regular;
    line-height: 120%;
	margin-bottom: 50px;
}
.centerContainerSecondRightContent {
    background: white;
	height:300px;
    color: #2e2e2e;
}
.centerContainerSecondLeftContent {
    background: #50d8d7;
	height: 300px;
}

.centerContainerSecondRight h1, .centerContainerSecondLeft h1 {
        font-size: 21px;
    background: #ea526f;
    border-left: 3px solid #38c0ff;
    margin: 0 !important;
    padding: 8px;
    border-right: 3px solid #38c0ff;
    border-radius: 10px 10px 0 0;
}

.centerContainerSecondLeftContent h2 {
    font-size: 115px;
    font-family: SourceSansPro-SemiBold;
    padding: 30px 0 10px 0;
    line-height: 100%;
    margin-bottom: 0 !important;
}
.centerContainerSecondLeftContent h2 span{
	font-size: 100px;
}
.centerContainerSecondLeftContent h4 {
    font-size: 41px;
    line-height: 100%;
    margin-bottom: 10px;
}
.centerContainerSecondLeftContent h3 {
    font-size: 22px;
}
.centerContainerSecondRightContent {
    background: white;
    height: 300px;
    color: #2e2e2e;
    position: relative;
    padding: 20px 50px;
}
.centerContainerSecondRightContent ul li {
        width: 50%;
    text-align: left;
    float: left;
    display: inline-block;
    font-size: 18px;
    padding: 14px 10px;
}
.centerContainerSecondRightContent i {
    font-size: 8px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 15px;
}
.activeTab{
	font-family: SourceSansPro-SemiBold;
}
