.projectPageLeft{
	margin-left: 8.33%;
	z-index: 1;
}
.projectPageRight{
	padding-left: 10px;
}
.fa.fa-star.glow {
    color: rgba(0,180,255,1.0);
}
.projectPageProjectBasicInfo{
	position: relative;
	padding-top: 5px;
	font-family: SourceSansPro-Regular;
	height: 25vw;
	color: black;
}

.projectPageTitle{
	font-size: 16px;
	padding-left: 5px;
	line-height: 140%;
	font-family: Poppins-Light;
	border-bottom: 2px solid #38c0ff;
	padding-bottom: 7px;
	margin-bottom: 3px;
	margin-top: 5px;
}
.projectPageProjectInfo {
	margin-top: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8eae9;
    color:  #b4b4b4;
}
.projectPageProjectLocation p{
	border-right: 1px solid #e8eae9;
	border-left: 1px solid #e8eae9;
	margin-bottom: 1px;
}
.projectPageProjectInfo p{
	padding-left: 5px;
	font-family: SourceSansPro-Regular;
	font-size:17px;
}

.projectPageProjectMainImage{
	height: 25vw;
	overflow: hidden;
}

.projectPageMainTabs{
	text-align:center; 
	border-bottom:0.1px solid #d1d1d1;
}
ul.projectPageMainTabsList{
	list-style-type: none;
	overflow: hidden;
	padding-top: 9px;
}
ul.projectPageMainTabsList li a{ 
	display: inline-block;
	width: 75%;
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: 0.3s;
	font-size: 23px;
}
ul.projectPageMainTabsList li a:hover{
	border-bottom: 2px solid #11baff;
	padding-bottom: 10.3px;
}
ul.projectPageMainTabsList li a:focus, .active{ 
	border-bottom: 2px solid #11baff;
    padding-bottom: 10.3px;
}

.mainTabContent{
	padding: 10px;
	transition: 0.3s;
}

.projectTimeline, .projectSupporters, .projectReports{
	transition: 0.3s;
	display: none;
	width: 0;
	padding: 5% 1% 5% 1%;
}
.projectSupportersContent {
    width: 25vw !important;
    margin-left: 25%;
    margin-top: 10%;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(0,180,255);
    text-align: center;
	 color: white;
	line-height: 700%;
    padding: 12% 0;
}
.projectSupportersContent h1 {
    font-size: 30px;
    font-family: Poppins-SemiBold;
    line-height: 400%;
}
.projectSupportersContent h2 {
    font-size: 18px;
    font-family: SourceSansPro-Light;
}
.projectStory{
	width: 100%;
	transition: 0.3s;
	position: relative;
}
.projectStoryContent {
    padding: 20px;
}
.projectStoryContent p{
	font-size: 16px;
	font-family: SourceSansPro-ExtraLight;
	letter-spacing: 0.5px;
	line-height: 115%;
	text-align: justify;
}
.projectStoryContent h2{
	font-size: 25px;
	font-family: SourceSansPro-Regular;
}
table#projectStoryBudget tr:nth-child(even) {
    background-color: white;
}
table#projectStoryBudget tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}
table#projectStoryBudget{
	width: 90%;
}
table#projectStoryBudget th {
    background-color: rgb(0,180,255);
    color: white;
}
table#projectStoryBudget{
    border-collapse: collapse;
}
table#projectStoryBudget th, table#projectStoryBudget td {
    padding: 5px;
    text-align: left;
}
table#projectStoryBudget span{
	font-family: SourceSansPro-SemiBold;
}

.projectTimeline p, .projectSupporters p{
    line-height: 114%;
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.5px;
	transition: 0.3s;
	font-family: SourceSansPro-Light;
}

.projectPageProjectMainImage img{
	position: relative;
	max-width: 100%;
}

.projectPageProjectInfoBottom{
	position: absolute;
	bottom: 0;
	padding-right: 6px;
}

.projectPageProjectTagLine {
  background-color: #f6f6f6;
  padding: 11px;
  font-size: 12px;
  font-family: SourceSansPro-Regular;
  color: black;
}
.projectPageProjectFundRequired {
  font-family: Poppins-Light;
  font-size: 17px;
  margin-bottom: 15px;
  padding-right: 12px;
}

.projectPageProjectProgress {
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #f1f1f5;
  margin-right: 0px;
}

.progress-bar {
	width: 50%;
	background-color: #38c0ff;
	height: 5px;
	border-radius: 2px;
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.projectPageProjectStats {
    margin-bottom: 15px;
}
.statsNumber {
    font-family: Poppins-Bold;
    font-size: 15px;
}
.statsText {
    font-family: SourceSansPro-Light;
    font-size: 13px;
}
.projectPageDonateButton, .projectPageShareButton{
	height: 40px;
}
.projectPageDonateButtonClick{
	height: 0px;
	display: none;
	padding: 10px !important;
}
.activeButtonDonateShare{
	height: 72px;
	display: block;
	animation: slideBottom 0.3s;
	background: white !important;
	border: 1px solid #f1f2f6;
	border-top: none;
	padding: 16px !important;
	/*! border-right: 1px; */
}
.projectPageDonate, .projectPageDonateButtonClick{
	background-color: #38c0ff;
	/*! border-right: 2px solid white; */
	text-align: center;
	padding: 0px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}
.projectPageDonateSelected{
	background: white !important;
	border: 1px solid #f1f2f6;
	border-bottom:none;
	color: #373737;
}
.projectPageDonateButtonClickForm {
	width: 290px;
	height: 40px;
	border-radius:  3px;
	border: 1px solid rgba(0,0,0,0.15);
	color: black;
}

.projectPageDonateButtonClickForm input {
	width: 150px;
	padding: 10px 5px;
	float: left;
	border: 0;
	background: transparent;
	border-radius: 3px 0 0 3px;
	letter-spacing: 2px;
	text-align: left;
}

.projectPageDonateButtonClickForm input:focus {
	outline: 0;
	background:transparent;
}

.projectPageDonateButtonClickForm button {
	position: relative;
	float: right;
	border: 0;
	margin-top: -1px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	border-left: 1px solid #262626;
	border-radius: 0 3px 3px 0;
	background: #262626;
	color: white;
	letter-spacing: 2px;
}   


.projectPageDonateButtonClickForm button:active {
	box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.projectPageDonateShare h2{
    padding: 10px;
}
.projectPageDonateShare a{
	text-decoration: none;
	color: white;
}
.projectPageDonateShare a:hover{
	color: white;
}
.projectPageDonateShareClick {
    padding-right: 6px;
	/*! margin-top:20px; */
}
.projectPageDonate:hover {
    font-weight: bold;
	font-size:12.4px;
}
.projectPageShare:hover {
    font-weight: bold;
	background-color: #344d86;
	font-size:12.4px;
}
.projectPageShare, .projectPageShareButtonClick{
	background-color: #3b589a;
	border-left: 2px solid white;
	text-align: center;
	padding-right: 1px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.projectPageDonation{
	position: relative;
	height: 38vw;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
ul.projectPageDonationOptions{
	list-style-type: none;
	background: rgba(74, 82, 85, 0.02);
	height: 35px;
	overflow: hidden;
}
ul.projectPageDonationOptions li{
	float: left;
	position:absolute;
	cursor:pointer;
}
ul.projectPageDonationOptions li a{ 
	display: inline-block;
    color: #363636;
    text-align: center;
	  width: 100%;
    text-decoration: none;
      transition: 0.3s;
      cursor: pointer;
	opacity: 0.5;
	border-bottom: 1px solid #f1f2f6;
}
#donationOptionActive {
    background-color: white !important;
    height:35px;
    position:absolute;
    z-index:0;
    width:50%;
    top:0;
    cursor: pointer;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba(74, 82, 85, 0.05);
    /*! border-bottom: none !important; */
}
border{
	left:0;
	animation: slideLeft 0.4s;
	cursor: pointer;
	opacity: 1;
}
.slideRight{
	left:50%;
	cursor:pointer;
	animation: slideRight 0.4s;
}
@keyframes slideLeft{from{left:50%;} to{left:0;}}
@keyframes slideBottom{from{height:0px;} to{height:60px}}
@keyframes slideRight{from{left:0;} to{left:50%;}}
.projectPageDonationOptions h3{
	text-align: center;
	padding: 10px;
	font-size: 15px;
	color: #373737;
	font-family: Poppins-Light;
	cursor: pointer;
}
.projectPageDonationOptions h2{
	text-align: center;
	padding: 10px;
	color: black;
	font-size: 10px;
}
.projectPageDonationOption {
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.donationOptionsTabContent {
    border: 1px solid #f1f2f6;
    border-top: none;
    overflow: auto;
    height: 35vw;
}

.projectPageDonationOptionsMonthly{
	cursor:pointer;
	text-align: center;
	cursor: pointer;
	right:0;
	/*! border-bottom: 1px solid rgba(74, 82, 85, 0.05); */
}
.projectPageDonationOptionsOnce{
	cursor:pointer;
	text-align: center;
	/*! border-bottom: 1px solid #f1f2f6; */
}
.projectPageDonationOptionsMonthlyOptions{
	display: none;
}
.projectPageDonationAmount, .projectPageDonationReason {
    font-size: 9px;
    font-family: Poppins-Regular;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 70px;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
}
.projectPageDonationReason:hover{
	background-color: white;
	border: 1px solid #cbefff;
	padding-bottom: 18px;
	padding-top: 18px;
	padding-left:10px;
}
.projectPageDonationAmount{
	text-align: center;
	background-color: #82dafe;
	border: 1px solid #ccf0ff;
	font-family: Poppins-Regular;
}
.projectPageDonationReason{
	background-color: #ccf0ff;
	padding-left: 10px;
	border: 1px solid #ccf0ff;
	font-family: Poppins-Light;
	color: #373737;
}

.projects{
	background-color: #f1f4fb;
}
.projectContent{
	background-color: white;
}
.projectPageRecommendedProjectsHeading{
	padding-top: 2% !Important;
	padding-bottom: 2% !important;
}
.projectPageRecommendedProjectContent{
	padding-bottom: 2%;
}

.projectPageAboutNGO {
    border: 1px solid #f1f2f6;
    margin-bottom: 30px;
}

.projectPageAboutNGOBannerHeading {
    font-size: 30px;
    text-align: center;
    padding: 12px;
    background-color: rgb(0,180,255);
    color: white;
	font-family: Poppins-Regular;
}
.projectPageAboutNGOData {
    padding: 10px;
    background: rgb(255,255,255);
}
.projectPageAboutNGOHeading {
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-size: 23px;
    font-family: Poppins-Light;
}

.projectPageAboutNGOContent {
    font-size: 13px;
    font-family: SourceSansPro-Light;
    padding: 0 15px;
    letter-spacing: 0.1px;
    line-height: 110%;
	margin-bottom: 15px;
	color:#373737;
}
.Report:hover {
    border: 1px solid rgba(200,200,200,1.0);
}
.Report{
	width: 26vw;
	height: 13vw;
	display: inline-block;
	border: 1px solid #f1f2f6;
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	margin: 10px;
	border-radius: 10px;
}
.Report p {
	font-family: SourceSansPro-Light;
	color: #373737;
	font-size: 12px;
}
.Report h2, .Report a{
	color: #050505;
	font-family: Poppins-Light;
	font-size: 14px;
}
.Report a{
	  position: absolute;
    top: 2px;
    left: -41px;
    transform: rotate(-45deg);
    background-color: rgb(0,180,255);
    padding: 0px 39px 0px 40px;
	  color: white;
}
.Report h3 {
	color: #050505;
	font-family: Poppins-Light;
	font-size: 12px;
}
.Report img {
    max-width: 100%;
}
.Report div{
	position: relative;
}

.reportThumbnailTop, .reportThumbnailBottom, .reportThumbnailCenter {
    padding: 8px;
    text-align: left;
}
.projectPageDonationOptionsOpacity{
	opacity: 1 !important;
	border-bottom: none !important;
}
	

/*timeline*/
#projectTimeline a {
  color: #FF6B6B;
}
#projectTimeline a:hover {
  color: #ff9a9a;
  text-decoration: none;
}

.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: rgb(0,180,255);
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 2px;
  left: -3px;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid rgb(0,180,255);
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
.timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
  .marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}


.projectPageDonationOption h2 {
    transform: translate(0%,-50%);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.projectPageDonationReason h2{
	text-align: left;
	padding: 0 5px;
}
