<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Digital Literacy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/751caf333d.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signUp.css" %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static "recommendedProjects.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "socialShareBar.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "checkOut.css" %}" media="screen"/>
	
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "cloudflare5.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "checkOut.js" %}"></script>
</head>

<body>
	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a>Nearly Funded</a></li>
								<li><a>Just Started</a></li>
								<li><a>Ongoing</a></li>
							</ul>
						</div>
						
						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a>Education</a></li>
								<li><a>Health</a></li>
								<li><a>Children</a></li>
								<li><a>Women Empowerment</a></li>
								<li><a>Food and Hunger</a></li>
								<li><a>Sports</a></li>
								<li><a>Animal Welfare</a></li>
								<li><a>Environment</a></li>
								<li><a>Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-9 floatRight">
				
				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>
				
				<div class="col-4 mainNavBarButton">
					<div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
									<form class="form-log-in animated">
									  <input name="Username" placeholder="Username" type="text" />
									  <input name="Password" placeholder="Password" type="Password" />
										 <span onclick="SignMeUp()"> <div class="btn">Log in</div></span>
										 <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Log In</div>
										 <div class="btn fbbtn"><i class="fa fa-facebook"></i>Log In</div>
									</form>
									<form class="form-sign-up animated">
									  <input name="Username" placeholder="Username" type="text" />
									  <input name="Password" placeholder="Password" type="Password" />
									  <input name="CPassword" placeholder="Confirm Password" type="Password" />
									  <span onclick="SignMeUp()"><div class="btn">Sign Up</div></span>
									  <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Sign Up</div>
										 <div class="btn fbbtn"><i class="fa fa-facebook"></i>Sign Up</div>
									</form>
								</div>
							</div>
							</div>
						</div>
					</div>
					
					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">Log In</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
										<form class="form-log-in1 animated">
										  <input name="Username" placeholder="Username" type="text" />
										  <input name="Password" placeholder="Password" type="Password" />
										  <span onclick="SignMeUp()"><div class="btn">Log in</div></span>
										  <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Log In</div>
										 <div class="btn fbbtn"><i class="fa fa-facebook"></i>Log In</div>
										</form>
										<form class="form-sign-up1 animated">
										  <input name="Username" placeholder="Username" type="text" />
										  <input name="Password" placeholder="Password" type="Password" />
										  <input name="CPassword" placeholder="Confirm Password" type="Password" />
										  <span onclick="SignMeUp()"><div class="btn">Sign Up</div></span>
										  <div class="btn googlebtn"><i class="fa fa-google-plus"></i>Sign Up</div>
										 <div class="btn fbbtn"><i class="fa fa-facebook"></i>Sign Up</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>
						
						<script src="{% static "SignUp.js" %}"></script>
					</div>
					
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">Visharad Jalan</span></h2>
						<div class="navBarProfileOptions">
							 <a href="userPage.html"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="#" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</header> 
   	
	<div class="overlay" id="paypalPaymentOverlay">
		<div class="translucentContainer2"></div>
		<div class="paypalPaymentOuterContainer">
			<div class="paypalPaymentInnerContainer">
				
			</div>
		</div>
	</div>
	
	<div class="overlay" id="paymentBySavedCardsOverlay">
		<div class="translucentContainer2"></div>
		<div class="paypalPaymentOuterContainer">
			<div class="paypalPaymentInnerContainer">
				
			</div>
		</div>
	</div>
	
	<div class="row checkOutPageMainRow">
		<div id="checkOutPageContent" class="row checkOutPageContent" style="height: 1300px;">
			
			<div class="row checkOutPageContentHeading" style="height: 150px;">
				<h1>{{ title }}<br/><span>by {{ ngo }}</span></h1>
			</div>
			<div class="row">
				<div class="col-8 checkOutPageRight">
					<h1>Give to <span>Feed the Poor!</span></h1>
					<p>and get independent reports made by <span>Re!magine team</span> about the <span>impact you</span> are helping make. <a href="learnMore.html">Learn More.</a></p>
					<div class="row checkOutPagePaymentOptions">
						<ul class="row checkOutPagePaymentOptionsLinks">
							<li class="col-4 paymentOptionsLinks activePaymentOption" onclick="openPaymentOptionTabs(event,'paymentBySavedCards')">
								Saved Cards
							</li>
							<li class="col-4 paymentOptionsLinks" onclick="openPaymentOptionTabs(event,'paymentByDebitCard')">
								Credit/Debit Card
							</li>
							<li class="col-4 paymentOptionsLinks" onclick="openPaymentOptionTabs(event,'paymentByPaypal')">
								Paypal
							</li>
						</ul>
					</div>
					<div id="paymentByDebitCard" class="paymentOptionTabsContent">
						<div class="checkOutPagePaymentFormContent" id="checkOutPagePaymentFormContent">
							<form class="form" autocomplete="off" novalidate>
								<fieldset>
								  <input type="text" id="checkOutPageSavedCardUserFullName" placeholder="Full Name">
								</fieldset>
								<fieldset>
								  <input type="text" id="checkOutPageSavedCardUserEmail" placeholder="Email">
								</fieldset>
								<fieldset>
								  <input type="text" id="checkOutPageSavedCardserPassword" placeholder="Password">
								</fieldset>
								<input type="checkbox" id="donateAnonymously"><label>Donate anonymously</label>
								<fieldset>
								  <input type="number" maxlength="16" id="checkOutPageSavedCardserCardNumber" placeholder="Card Number">
								</fieldset>
								<fieldset class="checkOutPageSavedCardserCardExpiryMonth">
								  <input type="month" id="checkOutPageSavedCardserCardExpiryMonth" placeholder="MM/YY"/>
								</fieldset>
								<fieldset class="checkOutPageSavedCardserCardSecurityCode">
								  <input type="password" id="checkOutPageSavedCardserCardSecurityCode" placeholder="Security Code"/>
								</fieldset>
								<input type="checkbox" id="sendEmails"><label>Send me ocassionaal emails with matching opportunities, personalized recommendations, and smart giving tips.</label>
								<button class="btn">Continue</button>
							 </form>
						</div>
					</div>
					<div id="paymentBySavedCards" class="paymentOptionTabsContent">
						<ul>
							<li onclick="showCVV(0)">
								<h2>XXXX-XXXX-XXXX-1234</h2>
								<p>Exp: 11/2022</p>
								<input type="password" maxlength="3" id="checkOutPageSavedCardserCardCVV" placeholder="CVV"/>
							</li>
							<li onclick="showCVV(1)">
								<h2>XXXX-XXXX-XXXX-5673</h2>
								<p>Exp: 08/2024</p>
								<input type="password" maxlength="3" id="checkOutPageSavedCardserCardCVV" placeholder="CVV"/>
							</li>
						</ul>
						<button class="btn" onclick="openPaymentBySavedCardsOverlay()">Continue</button>
					</div>
					<div id="paymentByPaypal" class="paymentOptionTabsContent">
						<h2 class="paymentByPaypalText">Please click the button below and follow the instructions provided to complete your donation.</h2>
						<div class="row"><input type="checkbox" id="donateAnonymously"><label>Donate anonymously</label></div>
						<div class="row"><input type="checkbox" id="sendEmails"><label>Send me ocassionaal emails with matching opportunities, personalized recommendations, and smart giving tips.</label></div>
						<div onClick="openPaypalPaymentOvelay()"><button class="btn">Donate with PayPal</button></div>
					</div>
				</div>

				<div class="col-4 checkOutPageLeft">
					<div class="checkOutPageLeftContent" id="checkOutPageLeftContent">
						<div class="checkOutPageDonationAmountContent">
							<h2>Donation Amount</h2>
							<h1>Rs <span class="checkOutPageDonationAmount" contenteditable="true">{{ amount }}</span> <span class="perMonth">per month</span></h1>
							<h3>Your Impact</h3>
							<p>The money you are giving will have following impact. and will make a lot of people happy.</p>
						</div>
						<div class="checkOutPageLeftSecondBox">
							<p><span>You have chosen to make a monthly payment.</span> Your credit card will be charged now and every month until you cancel the donation. You can edit your recurring donations at any time in your <span>profile</span>.</p>
							<div class="triangle1"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="row section">
				<ul class="social-btns">

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-twitter twitter"></i>
								<i class="social-btn-face active fa fa-lg fa-twitter twitter"></i>
							</div>
						</a>
					</li>

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-facebook facebook"></i>
								<i class="social-btn-face active fa fa-lg fa-facebook facebook"></i>
							</div>
						</a>
					</li>

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-google-plus google"></i>
								<i class="social-btn-face active fa fa-lg fa-google-plus google"></i>
							</div>
						</a>
					</li>

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-pinterest-p pinterest"></i>
								<i class="social-btn-face active fa fa-lg fa-pinterest-p pinterest"></i>
							</div>
						</a>
					</li>

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-instagram instagram"></i>
								<i class="social-btn-face active fa fa-lg fa-instagram instagram"></i>
							</div>
						</a>
					</li>

					<li>
						<a href="{% url 'index' %}" class="social-btn-flip">
							<div class="social-btn-cube">
								<i class="social-btn-face default fa fa-lg fa-tumblr tumblr"></i>
								<i class="social-btn-face active fa fa-lg fa-tumblr tumblr"></i>
							</div>
						</a>
					</li>

				</ul>
			</div>
	
		</div>
	</div>
		<script src="{% static "checkOut.js" %}"></script>
	
	<footer>
		<div class="row footer">
			<div class="row footerOptions">
				<div class="col-2 footerAboutUs">
					<ul>
						<li><h1>About Us</h1></li>
						<li><h2><a>What is Reimagine?</a></h2></li>
						<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>
						<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
					</ul>
				</div>
				<div class="col-4 footerCauses" >
					<div class="col-6 footerCauses1">
						<ul>
							<li><h1>Causes</h1>                  </li>
							<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
							<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
							<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
							<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
							<li><h2><a href="{% url 'index' %}">Women and Girls</a></h2>  </li>
							<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
							<li><h2><a href="{% url 'index' %}">LGBTQ</a></h2>                </li>
						</ul>
					</div>
					<div class="col-6 footerCauses2">
						<ul>	
							<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
							<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
							<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
						</ul>
					</div>
				</div>
				<div class="col-2 footerWorks">
					<ul>
						<li><h1>How it Works</h1>                      </li>
						<li><h2><a>Stuff</a></h2>                      </li>
						<li><h2><a>Stuff Stuff</a></h2>                </li>
						<li><h2><a>We really need to think</a></h2>    </li>
						<li><h2><a>about this</a></h2>                 </li>
						<li><h2><a>well not anymore</a></h2>           </li>
						<li><h2><a>VJ **</a></h2>                      </li>
					</ul>
				</div>
				<div class="col-4 footerContactShare">
					<ul>
						<li><h1>Contact Us</h1></li>
						<li><h2><span>Email: </span>mishraanuruddh14@gmail.com</h2></li>
						<li><h2><span>Phone:</span> +91-8417048371</h2></li>
						<li><h2><span>Address:</span>Room 2,Limbdi Hostel,IIT(BHU)<br/>Varanasi,India-221005</h2></li>
						<li>
							<a><i class="fa fa-facebook"></i>   </a>
							<a><i class="fa fa-google-plus"></i></a>
							<a><i class="fa fa-twitter"></i>    </a>
							<a><i class="fa fa-youtube"></i>    </a>
							<a><i class="fa fa-instagram"></i>  </a>
							<a><i class="fa fa-whatsapp"></i>   </a>
							<a><i class="fa fa-linkedin"></i>   </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row footerBottom">
				<a href="{% url 'index' %}">
					<img src="logo/logo-final-web-white.png"/>
				</a>
				<h2>cc 2017.</h2>
			</div>
		</div>
	</footer>
</body>