<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Digital Literacy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static "recommendedProjects.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "socialShareBar.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "checkOut.css" %}" media="screen"/>
	
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "cloudflare5.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "checkOut.js" %}"></script>
</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a href="{% url 'viewAllProjects' cause='all' funding='nearly_funded' %}">Nearly Funded</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='just_started' %}">Just Started</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='ongoing' %}">Ongoing</a></li>
							</ul>
						</div>

						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a href="{% url 'viewAllProjects' cause='Education' funding='all' %}">Education</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Health' funding='all' %}">Health</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Children' funding='all' %}">Children</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Women_empowerment' funding='all' %}">Women Empowerment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='food_hunger' funding='all' %}">Food and Hunger</a></li>
								<li><a href="{% url 'viewAllProjects' cause='sports' funding='all' %}">Sports</a></li>
								<li><a href="{% url 'viewAllProjects' cause='animal_welfare' funding='all' %}">Animal Welfare</a></li>
								<li><a href="{% url 'viewAllProjects' cause='environment' funding='all' %}">Environment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='others' funding='all' %}">Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>

			<div class="col-9 floatRight">

				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>

				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
                                    <div class="form-log-in animated">
                                <i style="color: red">{{ message }}</i>
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up animated">
                                        <i style="color: red">{{ message }}</i>
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">LogIn</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                    <div class="form-log-in1 animated">
                                    <i style="color: red">{{ message }}</i>
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up1 animated">
                                        <i style="color: red">{{ message }}</i>
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
        </div>
	</header>


	<div class="row checkOutPageMainRow">
		<div id="checkOutPageContent" class="row checkOutPageContent" style="height: 1300px;">
			
			<div class="row checkOutPageContentHeading" style="height: 150px;">
				<h1>{{ title }}<br/><span>by {{ ngo }}</span></h1>
			</div>
			<div class="row">
				<div class="col-8 checkOutPageRight">
					<h1>Give to <span>{{ title }}</span></h1>
					<p>and get independent reports made by <span>Re!magine team</span> about the <span>impact you</span> are helping make. <a href="learnMore.html">Learn More.</a></p>

                    <br/>
                    <h1>Enter your details:</h1>


{#					<div class="row checkOutPagePaymentOptions" style="display:none;">#}
{#						<ul class="row checkOutPagePaymentOptionsLinks">#}
{#							<li class="col-4 paymentOptionsLinks activePaymentOption" onclick="openPaymentOptionTabs(event,'paymentBySavedCards')">#}
{#								Saved Cards#}
{#							</li>#}
{#							<li class="col-4 paymentOptionsLinks" onclick="openPaymentOptionTabs(event,'paymentByDebitCard')">#}
{#								Credit/Debit Card#}
{#							</li>#}
{#							<li class="col-4 paymentOptionsLinks" onclick="openPaymentOptionTabs(event,'paymentByPaypal')">#}
{#								Paypal#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
					<div id="paymentByDebitCard" class="paymentOptionTabsContent">
						<div class="checkOutPagePaymentFormContent" id="checkOutPagePaymentFormContent">
                            {% if form %}
							<form class="form" autocomplete="off" novalidate method="post" action='{% url 'payment_redirect' %}'>
                            {% csrf_token %}
								<fieldset>
								  <input type="text" id="checkOutPageSavedCardUserFullName" placeholder="First Name" name="first_name">
                                    <input style="display: none;" name="amount" {% if amount %}value="{{ amount }}" {% endif %}>
                                <input style="display: none;" name="project" {% if amount %}value="{{ pk }}" {% endif %}>
								</fieldset>
								<fieldset>
								  <input type="text" id="checkOutPageSavedCardUserEmail" placeholder="Email" name="email">
								</fieldset>
								<fieldset>
								  <input maxlength="10" id="checkOutPageSavedCardUserPhoneNumber" placeholder="Mobile Number" name="mobile">
								</fieldset>
								<input type="checkbox" id="donateAnonymously"><label>Donate anonymously</label>
								<button class="btn" type="submit">Continue</button>
							 </form>
                            {% endif %}
						</div>
					</div>
{#					<div id="paymentBySavedCards" class="paymentOptionTabsContent">#}
{#						<ul>#}
{#							<li onclick="showCVV(0)">#}
{#								<h2>XXXX-XXXX-XXXX-1234</h2>#}
{#								<p>Exp: 11/2022</p>#}
{#								<input type="password" maxlength="3" id="checkOutPageSavedCardserCardCVV" placeholder="CVV"/>#}
{#							</li>#}
{#							<li onclick="showCVV(1)">#}
{#								<h2>XXXX-XXXX-XXXX-5673</h2>#}
{#								<p>Exp: 08/2024</p>#}
{#								<input type="password" maxlength="3" id="checkOutPageSavedCardserCardCVV" placeholder="CVV"/>#}
{#							</li>#}
{#						</ul>#}
{#						<button class="btn" onclick="openPaymentBySavedCardsOverlay()">Continue</button>#}
{#					</div>#}
{#					<div id="paymentByPaypal" class="paymentOptionTabsContent">#}
{#						<h2 class="paymentByPaypalText">Please click the button below and follow the instructions provided to complete your donation.</h2>#}
{#						<div class="row"><input type="checkbox" id="donateAnonymously"><label>Donate anonymously</label></div>#}
{#						<div class="row"><input type="checkbox" id="sendEmails"><label>Send me ocassionaal emails with matching opportunities, personalized recommendations, and smart giving tips.</label></div>#}
{#						<div onClick="openPaypalPaymentOvelay()"><button class="btn">Donate with PayPal</button></div>#}
{#					</div>#}
				</div>

				<div class="col-4 checkOutPageLeft">
					<div class="checkOutPageLeftContent" id="checkOutPageLeftContent">
						<div class="checkOutPageDonationAmountContent">
							<h2>Donation Amount</h2>
							<h1>Rs <span class="checkOutPageDonationAmount" >{{ amount }}</span> <span class="perMonth"></span></h1>
							<h3>Your Impact</h3>
							<p>The money you are giving will have following impact. and will make a lot of people happy.</p>
						</div>
{#						<div class="checkOutPageLeftSecondBox">#}
{#							<p><span>You have chosen to make a monthly payment.</span> Your credit card will be charged now and every month until you cancel the donation. You can edit your recurring donations at any time in your <span>profile</span>.</p>#}
{#							<div class="triangle1"></div>#}
{#						</div>#}
					</div>
				</div>

			</div>

			<div class="row section">
				<ul class="social-btns">

			<li>
				<a class="twitter-share-button twitter customer share social-btn-flip" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-twitter twitter"></i>
						<i class="social-btn-face active fa fa-lg fa-twitter twitter"></i>
					</div>
				</a>
			</li>

			<li>
				<a  title="Facebook share" target="_blank" class="fb-xfbml-parse-ignore facebook customer share social-btn-flip" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-facebook facebook"></i>
						<i class="social-btn-face active fa fa-lg fa-facebook facebook"></i>
					</div>
				</a>
			</li>

			<li>
				<a class="google_plus customer share social-btn-flip" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-google-plus google"></i>
						<i class="social-btn-face active fa fa-lg fa-google-plus google"></i>
					</div>
				</a>
			</li>

			<li>
				<a class="linkedin customer share social-btn-flip" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.reimaginegiving.org" title="linkedin Share" target="_blank">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-linkedin linkedin"></i>
						<i class="social-btn-face active fa fa-lg fa-linkedin linkedin"></i>
					</div>
				</a>
			</li>

		</ul>
			</div>
	
		</div>
	</div>
		<script src="{% static "checkOut.js" %}"></script>
	
	<footer>
		<div class="row footer">
			<div class="row footerOptions">
				<div class="col-2 footerAboutUs">
					<ul>
						<li><h1>About Us</h1></li>
						<li><h2><a>What is Reimagine?</a></h2></li>
{#						<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>#}
						<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
					</ul>
				</div>
				<div class="col-4 footerCauses" >
					<div class="col-6 footerCauses1">
						<ul>
							<li><h1>Causes</h1>                  </li>
							<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
							<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
							<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
							<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
							<li><h2><a href="{% url 'index' %}">Skill Development</a></h2>  </li>
							<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
							<li><h2><a href="{% url 'index' %}">LGBTQ</a></h2>                </li>
						</ul>
					</div>
					<div class="col-6 footerCauses2">
						<ul>	
							<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
							<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
							<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
						</ul>
					</div>
				</div>
{#				<div class="col-2 footerWorks">#}
{#					<ul>#}
{#						<li><h1>How it Works</h1>                      </li>#}
{#						<li><h2><a>Stuff</a></h2>                      </li>#}
{#						<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#						<li><h2><a>We really need to think</a></h2>    </li>#}
{#						<li><h2><a>about this</a></h2>                 </li>#}
{#						<li><h2><a>well not anymore</a></h2>           </li>#}
{#						<li><h2><a>VJ **</a></h2>                      </li>#}
{#					</ul>#}
{#				</div>#}
				<div class="col-4 footerContactShare">
					<ul>
						<li><h1>Contact Us</h1></li>
						<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
						<li><h2><span>Phone:</span> +91-8417048371</h2></li>
						<li><h2><span>Address:</span>IIT(BHU) Varanasi<br/>Varanasi,India-221005</h2></li>
						<li>
							<a  title="Facebook share" target="_blank" class="fb-xfbml-parse-ignore facebook customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="google_plus customer share" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button twitter customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="linkedin customer share" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.reimaginegiving.org" title="linkedin Share" target="_blank">
								<i class="fa fa-linkedin" ></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row footerBottom">
				<a href="{% url 'index' %}">
					<img src="logo/logo-final-web-white.png"/>
				</a>
				<h2>cc 2017.</h2>
			</div>
		</div>
	</footer>
</body>