<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Re!magine Giving</title>
	<link rel="stylesheet" type="text/css" href="{% static "comingSoon.css" %}" media="screen"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
</head>

<body style="background-color:white;width:100vw;overflow:hidden;">
	<div style="height:50vh;text-align:center;width:100vw;position:relative;">
		<div style="position:absolute;bottom:0;width:100vw;">
			<img src="{% static "logo/logo.png" %}" style="height:50px;">
		</div>
	</div>
	<div style="text-align:center;position:relative;width:100vw;padding:0;margin:0;">
		<p style="font-weight:normal;font-size:36px;padding-top:40px;">Coming Soon.</p>
        {% if message %}
            <p style="font-weight:normal;font-size:36px;padding-top:40px;">{{ message }}</p>
        {% endif %}


		<form class="search" method="POST">
            {% csrf_token %}
            {{ form.email }}
{#			<input type="search" placeholder="Enter Your Email for Updates." required>#}
			<button type="submit">Searchs</button>
		</form>


	</div>
</body>