<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Re!magine Giving</title>
	<link rel="stylesheet" type="text/css" href="{% static "comingSoon.css" %}" media="screen"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="{% static "comingSoon.js" %}"></script>
</head>

<body style="background-color:white;width:100vw;overflow:hidden;">
	<div style="height:50vh;text-align:center;width:100vw;position:relative;overflow:hidden;">
		<div style="position:absolute;bottom:-26px;width:100vw;">
		<img src="{% static "logo/logo.png" %}" style="height:50px;">
		</div>
	</div>

	<div class="slider">
		<div class="slide_viewer">
			<div class="slide_group">
				<div class="slide"><h1>GROWTH</h1></div>
				<div class="slide"><h1>HOPE</h1></div>
				<div class="slide"><h1>DEVELOPMENT</h1></div>
				<div class="slide"><h1>TRUST</h1></div>
				<div class="slide"><h1>GIVING</h1></div>
			</div>
		</div>
	</div>
{#<script src="{% static "comingSoon.js" %}"></script>#}

	<div style="text-align:center;position:relative;width:100vw;padding:0;margin:0;">
		<p style="font-weight:normal;font-size:36px;padding-top:40px;">Coming Soon.</p>

		{% if message %}
		<p style="font-weight:normal;font-size:36px;padding-top:40px;">{{ message }}</p>
		{% endif %}


		<form class="search" method="POST">
			{% csrf_token %}
			{{ form.email }}
			<button type="submit">Search</button>
		</form>
	</div>
</body>