<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Digital Literacy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "NGOForm.css" %}" media="screen"/>
	<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}"/>
	
	<script src="{% static "googleapi.js" %}"></script>

</head>

<body>

	<div class="row NGOForm">
		<img src="{% static "logo/logo-final-web-full-white.png" %}">
		<div class="row NGOFormQuestion">
			<h2>Who are <span>you</span>?</h2>
		</div>
		<div class="col-6 NGOFormOptionOrganization">
			<h2><a>Organization</a></h2>
		</div>
		<div class="col-6 NGOFormOptionIndividual">
			<h2><a>Individual</a></h2>
		</div>
		<div class="row OrganizationForm">
			<div class="OrganizationFormTabs">
				<img src="{% static "logo/logo-final-web-full-blue.png" %}">
				<ul class="OrganizationFormTabsHeading">
					<li class="firstTab NGOOrganizationFormTab activeTab" onclick="openNGOOrganizationTabs(event,'NGOOrganizationFormBasic')"><i class="fa fa-info"></i>Basic Information</li>
					<li class="NGOOrganizationFormTab" onclick="openNGOOrganizationTabs(event,'NGOOrganizationFormPeople')"><i class="fa fa-users"></i>People</li>
					<li class="NGOOrganizationFormTab" onclick="openNGOOrganizationTabs(event,'NGOOrganizationFormPrevious')"><i class="fa fa-briefcase"></i>Previous Work</li>
					<li class="NGOOrganizationFormTab" onclick="openNGOOrganizationTabs(event,'NGOOrganizationFormTechnology')"><i class="fa fa-desktop"></i>Technology</li>
					<li class="NGOOrganizationFormTab" onclick="openNGOOrganizationTabs(event,'NGOOrganizationFormContact')"><i class="fa fa-phone"></i>Contact</li>
				</ul>
				<div class="NGOFormHelpInfo">
					<h2>Need Help? Drop Us a message <span>here</span><br/>or call us at +91 841 704 8371</h2>
				</div>
			</div>
            <form action="{% url 'NGOform' %}" method="post">{% csrf_token %}
			<div id="NGOOrganizationFormBasic" class="NGOOrganizationFormBasic NGOOrganizationFormTabContent slideRight">
				<div class="NGOOrganizationBasicForm NGOOrganizationBasicFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="organizationName">Name of the Organization *</label>
					  <input type="text" id="organizationName" name="name" />
					</fieldset>
					<fieldset class="sectorOfOperation">
					  <label for="sectorOfOperation">Sector Of Operation *</label>
					  <input type="text" id="sectorOfOperation" name="sector" />
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationBasicForm NGOOrganizationBasicFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="yearOfEstablishment">Year Of Establishment *</label>
					  <input type="text" id="yearOfEstablishment" name="since" />
					</fieldset>
					<fieldset>
					  <label for="locationOfOperations">Location Of Operations *</label>
					  <input type="text" id="locationOfOperations" name="location" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationBasicForm NGOOrganizationBasicFormSection3" autocomplete="off" novalidate>
					<fieldset>
					  <label for="legalIdentity">Legal Identity *</label>
					  <input type="text" id="legalIdentity" name="legal_id" />
					</fieldset>
					<fieldset>
					  <label for="affiliations">Affiliations *</label>
					  <input type="text" id="affiliations" name="affiliation" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>
			<div id="NGOOrganizationFormPeople" class="NGOOrganizationFormPeople NGOOrganizationFormTabContent slideLeft">
				<div class="NGOOrganizationPeopleForm NGOOrganizationPeopleFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="strengthOfBoard">Strength Of Board *</label>
					  <input type="text" id="strengthOfBoard" name="board_no" />
					</fieldset>
					<fieldset class="numberOfEmployees">
					  <label for="numberOfEmployees">Number Of Employees *</label>
					  <input type="text" id="numberOfEmployees" name="employee_no" />
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationPeopleForm NGOOrganizationPeopleFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="minimumPayOfEmployees">Minimum Pay Of Employees *</label>
					  <input type="text" id="minimumPayOfEmployees" name="min_pay" />
					</fieldset>
					<fieldset>
					  <label for="averagePayOfEmployees">Average Pay Of Employees *</label>
					  <input type="text" id="averagePayOfEmployees" name="avg_pay" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationPeopleForm NGOOrganizationPeopleFormSection3" autocomplete="off" novalidate>
					<fieldset>
					  <label for="numberOfOffices">Number Of Offices *</label>
					  <input type="text" id="numberOfOffices" name="offices_no" />
					</fieldset>
					<fieldset>
					  <label for="locationOfOffices">Location Of Offices *</label>
					  <input type="text" id="locationOfOffices" name="office_loc" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>
			<div id="NGOOrganizationFormPrevious" class="NGOOrganizationFormPrevious NGOOrganizationFormTabContent slideLeft">
				<div class="NGOOrganizationPreviousForm NGOOrganizationPreviousFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="successfulProjectsTillDate">Number Of Successful Projects till date</label>
					  <input type="text" id="successfulProjectsTillDate" />
					</fieldset>
					<fieldset class="successfulProjectsLastYear">
					  <label for="successfulProjectsLastYear">Number Of Successful Projects in 2015-16</label>
					  <input type="text" id="successfulProjectsLastYear" />
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationPreviousForm NGOOrganizationPreviousFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="amountPerProject">Average Amount Spent Per Project</label>
					  <input type="text" id="amountPerProject" />
					</fieldset>
					<fieldset>
					  <label for="sourcesOfIncome">Sources Of Income</label>
					  <input type="text" id="sourcesOfIncome" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationPreviousForm NGOOrganizationPreviousFormSection3" autocomplete="off" novalidate>
					<fieldset>
					  <label for="numberOfPeopleImpacted">Number Of People Impacted</label>
					  <input type="text" id="numberOfPeopleImpacted" />
					</fieldset>
					<fieldset>
					  <label for="peopleImpactBy2020">How many people do you want to impact by 2020?</label>
					  <input type="text" id="peopleImpactBy2020" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationPreviousForm NGOOrganizationPreviousFormSection4" autocomplete="off" novalidate>
					<fieldset>
					  <label for="typesOfProjects">Types Of Projects</label>
					  <input type="text" id="typesOfProjects" />
					</fieldset>
					<fieldset>
					  <label for="potentialFutureProjects">Potential Future Projects?</label>
					  <input type="text" id="potentialFutureProjects" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>
			<div id="NGOOrganizationFormTechnology" class="NGOOrganizationFormTechnology NGOOrganizationFormTabContent slideLeft">
				<div class="NGOOrganizationTechnologyForm NGOOrganizationTechnologyFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="accountsComputerized">Are accounts computerized? *</label><br/>
						<fieldset class="radio">
							<input type="radio" name="accountsComputerized" id="accountsComputerized-1" value="Yes">
							<label for="accountsComputerized-1">Yes</label>
						</fieldset>
						<fieldset class="radio">
							<input type="radio" name="accountsComputerized" id="accountsComputerized-2" value="No">
							<label for="accountsComputerized-2">No</label>
						</fieldset>
					</fieldset>
					<fieldset class="technologyWebsite">
					  <label for="technologyWebsite">Website? *</label><br/>
						<fieldset class="radio">
							<input type="radio" name="technologyWebsite" id="technologyWebsite-1" value="Yes">
							<label for="technologyWebsite-1">Yes</label>
						</fieldset>
						<fieldset class="radio">
							<input type="radio" name="technologyWebsite" id="technologyWebsite-2" value="No">
							<label for="technologyWebsite-2">No</label>
						</fieldset>
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationTechnologyForm NGOOrganizationTechnologyFormSection2" autocomplete="off" novalidate>
					<fieldset>
						<label for="socialMediaPlatformsOption">Do you use social media? *</label><br/>
						<input type="radio" name="socialMediaPlatformsOption" id="socialMediaPlatformsOption-1" value="Yes">
						<label for="socialMediaPlatformsOption-1">Yes</label>
						<fieldset class="OptionNo">
							<input type="radio" name="socialMediaPlatformsOption" id="socialMediaPlatformsOption-2" value="No">
							<label for="socialMediaPlatformsOption-2">No</label>
						</fieldset>

						<fieldset class="reveal-if-active">
							<label for="socialMediaPlatformsOption">Social media links*</label><br/>
							<fieldset class="socialMediaIcons">
								<input type="checkbox" id="socialMediaPlatformsFacebook" class="socialMediaPlatformsFacebook">
								<label for="socialMediaPlatformsFacebook"><i class="fa fa-facebook NGOSocialMediaInputIcon activeIcon" onclick="openNGOSocialLinksInput(event,'NGOSocialLinkFacebookInput')"></i></label>
							</fieldset>
							<fieldset class="socialMediaIcons">
								<input type="checkbox" id="socialMediaPlatformsGooglePlus" class="socialMediaPlatformsGooglePlus">
								<label for="socialMediaPlatformsGooglePlus"><i class="fa fa-google-plus NGOSocialMediaInputIcon" onclick="openNGOSocialLinksInput(event,'NGOSocialLinkGooglePlusInput')"></i></label>
							</fieldset>
							<fieldset class="socialMediaIcons">
								<input type="checkbox" id="socialMediaPlatformsTwitter" class="socialMediaPlatformsTwitter">
								<label for="socialMediaPlatformsTwitter"><i class="fa fa-twitter NGOSocialMediaInputIcon" onclick="openNGOSocialLinksInput(event,'NGOSocialLinkTwitterInput')"></i></label>
							</fieldset>
							<fieldset class="socialMediaIcons">
								<input type="checkbox" id="socialMediaPlatformsLinkedIn" class="socialMediaPlatformsLinkedIn">
								<label for="socialMediaPlatformsLinkedIn"><i class="fa fa-linkedin NGOSocialMediaInputIcon" onclick="openNGOSocialLinksInput(event,'NGOSocialLinkLinkedInInput')"></i></label>
							</fieldset>
							<fieldset class="socialMediaIcons">
								<input type="checkbox" id="socialMediaPlatformsOther" class="socialMediaPlatformsOther">
								<label for="socialMediaPlatformsOther"><span class="NGOSocialMediaInputIcon" onclick="openNGOSocialLinksInput(event,'NGOSocialLinkOtherInput')">Other</span></label>
							</fieldset>

							<fieldset class="NGOSocialLinksInput" id="NGOSocialLinkFacebookInput">
								<input type="text" id="socialMediaPlatformsFacebookInput" placeholder="fb.com/reimaginegiving" class="socialMediaPlatformsFacebookInput">
							</fieldset>
							<fieldset class="NGOSocialLinksInput" id="NGOSocialLinkGooglePlusInput">
								<input type="text" id="socialMediaPlatformsGooglePlusInput" placeholder="google+.com/reimaginegiving" class="socialMediaPlatformsGooglePlusInput">
							</fieldset>
							<fieldset class="NGOSocialLinksInput" id="NGOSocialLinkTwitterInput">
								<input type="text" id="socialMediaPlatformsTwitterInput" placeholder="twitter.com/reimaginegiving" class="socialMediaPlatformsTwitterInput">
							</fieldset>
							<fieldset class="NGOSocialLinksInput" id="NGOSocialLinkLinkedInInput">
								<input type="text" id="socialMediaPlatformsLinkedInInput" placeholder="linkedin.com/reimaginegiving" class="socialMediaPlatformsLinkedInInput">
							</fieldset>
							<fieldset class="NGOSocialLinksInput" id="NGOSocialLinkOtherInput">
								<input type="text" id="socialMediaPlatformsOtherInput" placeholder="xyz.com/reimaginegiving" class="socialMediaPlatformsOtherInput">
							</fieldset>
						</fieldset>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationTechnologyForm NGOOrganizationTechnologyFormSection3" autocomplete="off" novalidate>
					<fieldset>
						<label for="fundRaisePlatformsOption">Do you use online platforms to raise funds? *</label><br/>
						<input type="radio" name="fundRaisePlatformsOption" id="fundRaisePlatformsOption-1" value="Yes">
						<label for="fundRaisePlatformsOption-1">Yes</label>
						<fieldset class="OptionNo">
							<input type="radio" name="fundRaisePlatformsOption" id="fundRaisePlatformsOption-2" value="No">
							<label for="fundRaisePlatformsOption-2">No</label>
						</fieldset>
						<fieldset class="reveal-if-active">
						  <label for="fundRaisePlatforms">Which platforms do you use? *</label>
						  <input type="text" id="fundRaisePlatforms" />
						</fieldset>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>
			<div id="NGOOrganizationFormContact" class="NGOOrganizationFormContact NGOOrganizationFormTabContent slideLeft">
				<div class="NGOOrganizationContactForm NGOOrganizationContactFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="name">Name *</label>
					  <input type="text" id="name" />
					</fieldset>
					<fieldset class="designation">
					  <label for="designation">Designation *</label>
					  <input type="text" id="designation" />
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
				<div class="NGOOrganizationContactForm NGOOrganizationContactFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="email">E-mail *</label>
					  <input type="text" id="email" />
					</fieldset>
					<fieldset>
					  <label for="phone">Phone *</label>
					  <input type="text" id="phone" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</div>
			</div>
		</div>

		<div class="row IndividualForm">
			<div class="IndividualFormTabs">
				<img src="{% static "logo/logo-final-web-full-blue.png" %}">
				<ul class="IndividualFormTabsHeading">
					<li class="firstTab NGOIndividualFormTab activeTab" onclick="openNGOIndividualTabs(event,'NGOIndividualFormBasic')"><i class="fa fa-info"></i>Basic Information</li>
					<li class="NGOIndividualFormTab" onclick="openNGOIndividualTabs(event,'NGOIndividualFormMotivation')"><i class="fa fa-users"></i>Motivation</li>
				</ul>
				<div class="NGOFormHelpInfo">
					<h2>Need Help? Drop Us a message <a href="contactUsPage.html">here</a><br/>or call us at +91 841 704 8371</h2>
				</div>
			</div>

			<div id="NGOIndividualFormBasic" class="NGOIndividualFormBasic NGOIndividualFormTabContent slideRight">
				<form class="NGOIndividualBasicForm NGOIndividualBasicFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualName">Name *</label>
					  <input type="text" id="individualName" />
					</fieldset>
					<fieldset>
					  <label for="individualAge">Age *</label>
					  <input type="text" id="individualAge" />
					</fieldset>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<form class="NGOIndividualBasicForm NGOIndividualBasicFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualLocation">Location *</label>
					  <input type="text" id="individualLocation" />
					</fieldset>
					<fieldset>
					  <label for="individualPhone">Phone *</label>
					  <input type="text" id="individualPhone" />
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<form class="NGOIndividualBasicForm NGOIndividualBasicFormSection3" autocomplete="off" novalidate>
					<label for="individualNationality">Nationality *</label>
						<select id="nationality" name="nationality">
							<option value="Choose">Choose Nationality</option>
							<option value="India">India</option>
							<option value="Japan">Japan</option>
							<option value="America">America</option>
							<option value="Pakistan">Pakistan</option>
						</select>
						<fieldset class="reveal-if-active" id="aadharCard">
							<label for="individualaadharCardNumber">Aadhar Card Number *</label>
							<input type="text" id="individualaadharCardNumber" />
						</fieldset>
						<fieldset class="reveal-if-active" id="passportNumber">
							<label for="individualPassportNumber">Passport Number *</label>
							<input type="text" id="individualPassportNumber" />
						</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<form class="NGOIndividualBasicForm NGOIndividualBasicFormSection4" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualAffiliationsOption">Do you have affiliations with an NGO? *</label><br/>
					  <input type="radio" name="individualAffiliationsOption" id="individualAffiliationsOption-1" value="Yes">
						<label for="individualAffiliationsOption-1">Yes</label>
						<fieldset class="OptionNo">
							<input type="radio" name="individualAffiliationsOption" id="individualAffiliationsOption-2" value="No">
							<label for="individualAffiliationsOption-2">No</label>
						</fieldset>
						<fieldset class="reveal-if-active">
						  <label for="individualAffiliations">Which NGOs you have affiliations with? *</label>
						  <input type="text" id="individualAffiliations" />
						</fieldset>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>
			<div id="NGOIndividualFormMotivation" class="NGOIndividualFormMotivation NGOIndividualFormTabContent slideLeft">
				<form class="NGOIndividualMotivationForm NGOIndividualMotivationFormSection1" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualMotivationUndertake">What has motivated you to undertake this project? *</label>
					  <textarea type="text" id="individualMotivationUndertake" maxlength="300"></textarea>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<form class="NGOIndividualMotivationForm NGOIndividualMotivationFormSection2" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualMotivationSuited">Why are you best suited to undertake this project? *</label>
					  <textarea type="text" id="individualMotivationSuited" maxlength="300" ></textarea>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="nextBtn">Next<i class="fa fa-arrow"></i></a>
				</form>
				<form class="NGOIndividualMotivationForm NGOIndividualMotivationFormSection3" autocomplete="off" novalidate>
					<fieldset>
					  <label for="individualMotivationUnique">What is unique about your approach? *</label>
					  <textarea type="text" id="individualMotivationUnique" maxlength="300" ></textarea>
					</fieldset>
					<a class="backBtn">Previous<i class="fa fa-arrow"></i></a>
					<a class="submitBtn">Submit<i class="fa fa-arrow"></i></a>
				</form>
				<div class="NGOFormInstruction">
					* marked fields are COMPULSORY fields.
				</div>
			</div>

		</div>

	</div>
	<script src="{% static "NGOForm.js" %}"></script>
	
</body>