<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if previous_page %}<meta http-equiv="refresh" content="0; url={{ previous_page }}" />{% endif %}
    <title>Title</title>
</head>
<body>
<form method="post" action="{{ action }}">
    <input style="display: none;" name="amount" value="{{ amount }}">
    <input style="display: none;" name="mobile" value="{{ mobile }}">
    <input style="display: none;" name="firstname" value="{{ firstname }}">
    <input style="display: none;" name="email" value="{{ email }}">
    <input style="display: none;" name="productinfo" value="{{ project }}">
    <input type="hidden" name="key" value="{{ key }}" />
    <input type="hidden" name="hash_string" value="{{ hash_string }}" />
    <input type="hidden" name="hash" value="{{ hashh }}"/>
    <input type="hidden" name="posted" value="{{ posted }}"/>
    <input type="hidden" name="txnid" value="{{ txnid }}"/>
    <input type="hidden" name="surl" value="{% url 'surl' %}"/>
    <input type="hidden" name="furl" value="{% url 'furl' %}"/>
    <input type="hidden" name="service_provider" value="payu_paisa" size="64"/>
    <button type="submit">Submit</button>
</form>
<h1>{{ action }}</h1>
<h1>{{ amount }}</h1>
<h1>{{ firstname }}</h1>
<h1>{{ email }}</h1>
<h1>{{ project }}</h1>
<h1>{{ mobile }}</h1>

</body>
</html>