<!DOCTYPE html>
{% load staticfiles %}
{% load tags %}
<head>
	<title>Pricing Policy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "pricing.css" %}"media="screen"/>

	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a>Nearly Funded</a></li>
								<li><a>Just Started</a></li>
								<li><a>Ongoing</a></li>
							</ul>
						</div>
						
						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a>Education</a></li>
								<li><a>Health</a></li>
								<li><a>Children</a></li>
								<li><a>Women Empowerment</a></li>
								<li><a>Food and Hunger</a></li>
								<li><a>Sports</a></li>
								<li><a>Animal Welfare</a></li>
								<li><a>Environment</a></li>
								<li><a>Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-9 floatRight">
				
				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>

				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
                                    <div class="form-log-in animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">LogIn</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                    <div class="form-log-in1 animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up1 animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
        </div>
	</header> 
   	
	<div class="centerContainerTop">
		<h1>We help you build <span>trust</span><br/>with your donors</h1>
		<h2>Don't just crowdfund, build lasting relations.<br/>Grow through out Trust Network and maximise your impact</h2>
	</div>
	<div class="row centerContainerSecond">
		<h1><span>Pricing</span></h1>
		<h2>We know the work you do is hard. RE!MAGINE Giving has been started with the intention of getting you the funds you need<br/>We have tried to keep our fees as low as possible. Just enough to make ends meet.</h2>
		<div class="col-3 centerContainerSecondLeft">
			<h1>What We Charge</h1>
			<div class="centerContainerSecondLeftContent">
				<h2>5<span>%</span></h2>
				<h4>+</h4>
				<h3>Payment Gateway Fees</h3>
			</div>
		</div>
		<div class="col-9 centerContainerSecondRight">
			<h1>What You Get</h1>
			<div class="centerContainerSecondRightContent">
				<ul>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks activeTab"><i class="fa fa-circle"></i>Independent Project Reporting</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Unlimited Web Hosting</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Online Project Page</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>NGO Dashboard</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Multiple Payment Options</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Flexible Payment Option</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Social Media Kit</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Donor Management system</li>
					<li onclick="openPricingTabsContent(event)" class="mainTabLinks"><i class="fa fa-circle"></i>Project Onboarding Assistance</li>
				</ul>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="row footer">
			<div class="row footerOptions">
				<div class="col-2 footerAboutUs">
					<ul>
						<li><h1>About Us</h1></li>
						<li><h2><a>What is Reimagine?</a></h2></li>
						<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>
						<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
					</ul>
				</div>
				<div class="col-4 footerCauses" >
					<div class="col-6 footerCauses1">
						<ul>
							<li><h1>Causes</h1>                  </li>
							<li><h2><a href="{% url 'viewAllProjects' %}" >Education</a></h2>        </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Poverty</a></h2>          </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Sanitation</a></h2>       </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Child Welfare</a></h2>    </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Women and Girls</a></h2>  </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Disaster Recovery</a></h2></li>
							<li><h2><a href="{% url 'viewAllProjects' %}">LGBTQ</a></h2>                </li>
						</ul>
					</div>
					<div class="col-6 footerCauses2">
						<ul>
							<li><h2><a href="{% url 'viewAllProjects' %}">Technology</a></h2>              </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Arts and Culture</a></h2>        </li>
							<li><h2><a href="{% url 'viewAllProjects' %}">Enviorment</a></h2>              </li>
						</ul>
					</div>
				</div>
{#				<div class="col-2 footerWorks">#}
{#					<ul>#}
{#						<li><h1>How it Works</h1>                      </li>#}
{#						<li><h2><a>Stuff</a></h2>                      </li>#}
{#						<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#						<li><h2><a>We really need to think</a></h2>    </li>#}
{#						<li><h2><a>about this</a></h2>                 </li>#}
{#						<li><h2><a>well not anymore</a></h2>           </li>#}
{#						<li><h2><a>VJ **</a></h2>                      </li>#}
{#					</ul>#}
{#				</div>#}
				<div class="col-4 footerContactShare">
					<ul>
						<li><h1>Contact Us</h1></li>
						<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
						<li><h2><span>Phone:</span> +91-8417048371</h2></li>
						<li><h2><span>Address:</span>Room 2,Limbdi Hostel,IIT(BHU)<br/>Varanasi,India-221005</h2></li>
						<li>
							<a  data-href="https://www.facebook.com/reimaginegiving" class="social-btn-flip fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="https://plus.google.com/share?url=https://plus.google.com/u/1/102570086777774315649" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button"   href="https://twitter.com/intent/tweet?text=Hello%20world" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-twitter"></i>
							</a>
							<a target="_blank" href="http://www.linkedin.com/shareArticle?url=https://plus.google.com/u/1/102570086777774315649">
								<i class="fa fa-linkedin" ></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row footerBottom">
				<a href="index.html">
					<img src="{% static 'logo/logo-final-web-white.png' %}"/>
				</a>
				<h2>cc 2017.</h2>
			</div>
		</div>
	</footer>
</body>