<!DOCTYPE html>
{% load staticfiles %}
{% load tags %}
<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<title>{{ project.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signUp.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "projectPage.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "timeline.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "recommendedProjects.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "floatingSocialShare.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "gallery.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "slider.css" %}" media="screen"/>
	
	
	<link rel='stylesheet prefetch' href='{% static "gallerymin.css" %}'>
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "timeline.js" %}"></script>
	<script src="{% static "projectPageMainTabs.js" %}"></script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<header style="margin-bottom: 10px;">
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a>Nearly Funded</a></li>
								<li><a>Just Started</a></li>
								<li><a>Ongoing</a></li>
							</ul>
						</div>
						
						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a>Education</a></li>
								<li><a>Health</a></li>
								<li><a>Children</a></li>
								<li><a>Women Empowerment</a></li>
								<li><a>Food and Hunger</a></li>
								<li><a>Sports</a></li>
								<li><a>Animal Welfare</a></li>
								<li><a>Environment</a></li>
								<li><a>Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-9 floatRight">
				
				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>
				
				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
{#									{% include "registration/login.html" %}#}
{#									{% include "registration/register.html" %}#}
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">LogIn</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                        {% include "registration/login.html" %}
									    {% include "registration/register.html" %}
									</div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
	</header>

	<div class="row overlay" id="projectPageShareBox">
		<div class="translucentContainer3"></div>
		<div class="shareBoxOuterContainer">
			<div class="shareBoxInnerContainer">

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-7 projectPageLeft">
			<div class="projectPageProjectMainImage" style="z-index: -1">
				<img src="{{ project.banner|safe }}">
			</div>
			<div class="row projectPageMainTabs">
				<ul class="row projectPageMainTabsList">
					<li class="col-3">
						<a href="javascript:void(0)" class="mainTabLinks active" onclick="openProjectMainTabs(event,'projectStory')">Story</a>
					</li>
					<li class="col-3">
						<a href="javascript:void(0)" class="mainTabLinks" onclick="openProjectMainTabs(event,'projectTimeline')">Timeline</a>
					</li>
					<li class="col-3">
						<a href="javascript:void(0)" class="mainTabLinks" onclick="openProjectMainTabs(event,'projectSupporters')">Supporters</a>
					</li>
					<li class="col-3">
						<a href="javascript:void(0)" class="mainTabLinks" onclick="openProjectMainTabs(event,'projectReports')">Report</a>
					</li>
				</ul>
			</div>
			<div id="projectStory" class="row projectStory mainTabContent">
                    {{ project.story|safe }}
				<div class="demo-gallery">
					<ul id="lightgallery" class="lightgallery">
					  <li class="lightgalleryimages" data-src="{{ project.gallery4|safe }}"
					  data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
						<a href="">
						  <img class="img-responsive" src="{{ project.gallery4|safe }}">
						  <div class="demo-gallery-poster">
							<img src="{{ project.gallery4|safe }}">
						  </div>
						</a>
					  </li>
					  <li class="lightgalleryimages" data-src="{{ project.gallery1|safe }}"
					  data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
						<a href="">
						  <img class="img-responsive" src="{{ project.gallery1|safe }}">
						  <div class="demo-gallery-poster">
							<img src="{{ project.gallery1|safe }}">
						  </div>
						</a>
					  </li>
					  <li class="lightgalleryimages" data-src="{{ project.gallery2|safe }}"
					  data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
						<a href="">
						  <img class="img-responsive" src="{{ project.gallery2|safe }}">
						  <div class="demo-gallery-poster">
							<img src="{{ project.gallery2|safe }}">
						  </div>
						</a>
					  </li>
					  <li class="lightgalleryimages" data-src="{{ project.gallery3|safe }}"
					  data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
						<a href="">
						  <img class="img-responsive" src="{{ project.gallery3|safe }}">
						  <div class="demo-gallery-poster">
							<img src="{{ project.gallery3|safe }}">
						  </div>
						</a>
					  </li>
					</ul>
					<div class="directional_nav" style="width:100%">
						<div class="previous_btn" onclick="plusDivs(-1)">&#10094;</div>
						<div class="next_btn" onclick="plusDivs(1)">&#10095;</div>
					</div>
				</div>
				
				<script src='{% static "cloudflare4.js" %}'></script>
				<script src='{% static "picturefill.js" %}'></script>
				<script src='{% static "cloudflare6.js" %}'></script>

					<script src="{% static "gallery.js" %}"></script>
				
			</div>
			<div id="projectTimeline" class="row projectTimeline mainTabContent">
				<ul class="timeline timeline-centered">
					<li class="timeline-item">
						<div class="timeline-info">
							<span>March 12, 2016</span>
						</div>
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<h3 class="timeline-title">Event Title</h3>
							<p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
								eu pede mollis pretium. Pellentesque ut neque.</p>
						</div>
					</li>
					<li class="timeline-item">
						<div class="timeline-info">
							<span>March 23, 2016</span>
						</div>
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<h3 class="timeline-title">Event Title</h3>
							<p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
								eu pede mollis pretium. Pellentesque ut neque. </p>
						</div>
					</li>
					<li class="timeline-item period">
						<div class="timeline-info"></div>
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<h2 class="timeline-title">April 2016</h2>
						</div>
					</li>
					<li class="timeline-item">
						<div class="timeline-info">
							<span>April 02, 2016</span>
						</div>
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<h3 class="timeline-title">Event Title</h3>
							<p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
								eu pede mollis pretium. Pellentesque ut neque. </p>
						</div>
					</li>
					<li class="timeline-item">
						<div class="timeline-info">
							<span>April 28, 2016</span>
						</div>
						<div class="timeline-marker"></div>
						<div class="timeline-content">
							<h3 class="timeline-title">Event Title</h3>
							<p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
								eu pede mollis pretium. Pellentesque ut neque. </p>
						</div>
					</li>
				</ul>
			</div>
			<div id="projectSupporters" class="row projectSupporters mainTabContent">
				<div class="projectSupportersContent">
					<h2>Join the Circle of Giving</h2>
					<h1><a>Donate Now</a></h1>
					<h2>Let the world know you care</h2>
				</div>
			</div>
{#			<div id="projectReports" class="row projectReports mainTabContent">#}
{#				<ul>#}
{#					<li class="Report reporteight" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#							<a>Video<br/>Included</a>#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportseven" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportsix" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportfive" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportfour" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportthree" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reporttwo" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#					<li class="Report reportone" onclick="openInNewTab('{% url 'index' %}')">#}
{#						<div class="col-6">#}
{#							<img src="{% static "images/pizza.jpg" %}" />#}
{#						</div>#}
{#						<div class="col-6">#}
{#							<div class="reportThumbnailTop">#}
{#								<h2>Pizza was bought</h2>#}
{#								<p>20 February 2017</p>#}
{#							</div>#}
{#							<div class="reportThumbnailCenter">#}
{#								<p>With initial funding, the Feed Nikhil Society #}
{#									was able to buy one of the few delicacies to #}
{#									be fed to the ever hungry Nikhil. #}
{#									To everyones delight he was jumping #}
{#									around somersaulting.#}
{#								</p>#}
{#							</div>#}
{#							<div class="reportThumbnailBottom">#}
{#								<h3>Project Status: On-going</h3>#}
{#							</div>#}
{#						</div>#}
{#					</li>#}
{#				</ul>#}
{#			</div>#}
			
		</div>
		
		<div class="col-3 projectPageRight">
			<div class="row projectPageProjectBasicInfo">
				<div class="row projectPageTitle">
					<h2>{{ project.title }}</h2>
				</div>
				<div class="row projectPageProjectInfo">
					<div class="col-4"><p><i class="fa fa-bookmark"></i>{{ project.cause.name }}</p></div>
					<div class="col-4 projectPageProjectLocation"><p><i class="fa fa-map-marker"></i>{{ project.ngo_id.address }}</p></div>
					<div class="col-4">
                        <p>
                            <i class="fa fa-star {% if stars == 1 %}glow{% endif %}"></i>
                            <i class="fa fa-star {% if stars == 2 %}glow{% endif %}"></i>
                            <i class="fa fa-star {% if stars == 3 %}glow{% endif %}"></i>
                            <i class="fa fa-star"{% if stars == 4 %}glow{% endif %}></i>
                            <i class="fa fa-star"{% if stars == 5 %}glow{% endif %}></i>
                        </p>
                    </div>
				</div>
				<div class="row projectPageProjectTagLine">
					<p>{{ desc }}</p>
				</div>
				<div class="row projectPageProjectInfoBottom">
					<div class="row projectPageProjectFullStats">
						<div class="row projectPageProjectFundRequired">
							<h2 class="floatRight">Rs {{ amount_left }} Needed</h2>
						</div>
						
						<div class="row projectPageProjectProgress">
							<div class="progress-bar" style="width: {{ progress_percent }}% "></div>
						</div>
						
						<div class="row projectPageProjectStats">
							<div class="stats1 col-5">
								<div class="statsNumber">
									<p>Rs {{ project.raised_amount }}</p>
								</div>
								<div class="statsText">
									<p>Raised</p>
								</div>
							</div>
							<div class="stats2 col-4">
								<div class="statsNumber">
									<p>{% no_of_donors project %}</p>
								</div>
								<div class="statsText">
									<p>Donors</p>
								</div>
							</div>
							<div class="stats3 col-3">
								<div class="statsNumber">
									<p>{% days_left project.end_date %}</p>
								</div>
								<div class="statsText">
									<p>Days left</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row projectPageDonateShare">
						<div class="col-6 projectPageDonate" onclick="openDonationInput()">
							<div class="projectPageDonateButton">
								<h2>Donate</h2>
							</div>
						</div>
						<div class="col-6 projectPageShare">
					        <div class="projectPageShareButton" onClick="openShareBoxOverlay()">
								<h2>Share</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row projectPageDonateShareClick">
				<div class="projectPageDonateButtonClick" id="projectPageDonateButtonClick">
{#                    {% if form %}#}
		            <form class="projectPageDonateButtonClickForm" method="POST" action="{% url 'checkOut' pk=project.project_id %}">
                        {% csrf_token %}
					    <input id="search" name="amount" type="number" placeholder="Enter the Amount"/>
					    <button class="projectPageDonateFinalButton">Donate</button>
                    </form>
{#                    {% endif %}#}
				</div>
			</div>
			


			<div class="row projectPageDonation">
				<ul class="row projectPageDonationOptions">
					<div id="donationOptionActive" class="slideLeft" style="width: 100%"></div>

                    {% if give_monthly_options %}
                    <li class="col-6 projectPageDonationOptionsOnce">
						<a href="javascript:void(0)" id="projectPageDonationOptionsOnce" class="donationOptionsTabLinks" onclick="openProjectDonationOptionsTabs('projectPageDonationOptionsOnce','projectPageDonationOptionsOnceOptions')"><h3>Give Once</h3></a>
					</li>
					<li class="col-6 projectPageDonationOptionsMonthly">
						<a href="javascript:void(0)" id="projectPageDonationOptionsMonthly" class="donationOptionsTabLinks" onclick="openProjectDonationOptionsTabs('projectPageDonationOptionsMonthly','projectPageDonationOptionsMonthlyOptions')"><h3>Give Monthly</h3></a>
					</li>
                    {% else %}
                        <li class="col-6 projectPageDonationOptionsOnce">
						<a href="javascript:void(0)" id="projectPageDonationOptionsOnce" class="donationOptionsTabLinks projectPageDonationOptionsOpacity" onclick="openProjectDonationOptionsTabs('projectPageDonationOptionsOnce','projectPageDonationOptionsOnceOptions')"><h3>Donate</h3></a>
					</li>
                    {% endif %}




{#                    {% if pk == "15134005" %}#}
{#					<li class="col-6 projectPageDonationOptionsMonthly">#}
{#						<a href="javascript:void(0)" id="projectPageDonationOptionsMonthly" class="donationOptionsTabLinks" onclick="openProjectDonationOptionsTabs('projectPageDonationOptionsMonthly','projectPageDonationOptionsMonthlyOptions')"><h3>Give Monthly</h3></a>#}
{#					</li>#}
{#                    {% endif %}#}
				</ul>

            <form method="POST" action="{% url 'checkOut' pk=project.project_id %}">
                        {% csrf_token %}
				<div id="projectPageDonationOptionsOnceOptions" class="row projectPageDonationOptionsOnceOptions donationOptionsTabContent">
                    {% if give_once_options %}
                        {% for option in give_once_options %}
                            <button name="amount" value="{{ option.amount }}" class="row projectPageDonationOption" style="background-color: inherit; border: inherit; border-color: inherit">
                                <div class="col-3 projectPageDonationAmount">
                                    <h2>Rs {{ option.amount }}</h2>
                                    <h2>(INR)</h2>
                                </div>
                                <div class="col-9 projectPageDonationReason">
                                    <h2>{{ option.tag }}</h2>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
				
				<div id="projectPageDonationOptionsMonthlyOptions" class="row projectPageDonationOptionsMonthlyOptions donationOptionsTabContent">
					{% if give_monthly_options %}
                        {% for option in give_monthly_options %}
                            <button name="amount" value="{{ option.amount }}" class="row projectPageDonationOption" style="background-color: inherit; border: inherit; border-color: inherit">
                                <div class="col-3 projectPageDonationAmount">
                                    <h2>Rs {{ option.amount }}</h2>
                                    <h2>(INR)</h2>
                                </div>
                                <div class="col-9 projectPageDonationReason">
                                    <h2>{{ option.tag }}</h2>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}
				</div>
            </form>
			</div>
		<script src="{% static "projectPageMainTabs.js" %}"></script>
			<div class="row projectPageAboutNGO">
				<h1 class="projectPageAboutNGOBannerHeading">About the NGO</h1>
				<div class="projectPageAboutNGOData">
					<h2 class="projectPageAboutNGOHeading">{{ name }}</h2>
					<p class="projectPageAboutNGOContent">{{ ngo_desc }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section">
		<ul class="social-btns">

			<li>
				<a href="{% url 'index' %}" class="social-btn-flip">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-twitter twitter"></i>
						<i class="social-btn-face active fa fa-lg fa-twitter twitter"></i>
					</div>
				</a>
			</li>

			<li>
				<a href="{% url 'index' %}" class="social-btn-flip">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-facebook facebook"></i>
						<i class="social-btn-face active fa fa-lg fa-facebook facebook"></i>
					</div>
				</a>
			</li>

			<li>
				<a href="{% url 'index' %}" class="social-btn-flip">
					<div class="social-btn-cube">
						<i class="social-btn-face default fa fa-lg fa-google-plus google"></i>
						<i class="social-btn-face active fa fa-lg fa-google-plus google"></i>
					</div>
				</a>
			</li>

		</ul>
</div>
	<div class="row projects">
		<div class="row recommendedProjectsHeading">
			<h2 class="col-6">Recommended Projects</h2>
		</div>
		<div class="row projectsContent">
            {% if projects%}
            {% for project in projects %}
			<div class="projectSection1">
				<div class="row projectContent">
					<div class="projectThumbnail">
{#						<img class="img-thumbnail" src="{{ project.thumbnail.url }}" >#}
                        <img class="img-thumbnail" src="{{ project.thumbnail|safe }}" >
						<div class="row locationCause">
							<div class="projectlocation">
								<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
								<div class="col-2 projectlocationHeading"><h2>{{ project.ngo_id.address }}</h2></div>
							</div>
							<div class="projectcause">
								<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
								<div class="col-4 projectcauseHeading"><h2>{{ project.cause.name }}</h2></div>
							</div>
							<a class="locationCauseLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
						</div>
					</div>

					<div class="projectDetails">
						<h1>{{ project.title }}</h1>
						<h2>{{ project.ngo_id.name }}</h2>
						<p>{{ project.summary }}
						</p>
					</div>

					<div class="row projectBottom">
						<div class="row" style="position:relative;">
							<div class="row projectStats">
								<div class="row" style="margin-bottom: 12px;">
									<h2 class="floatRight">{% fund_percent_achieved project.total_amount project.raised_amount %}%</h2>
								</div>

								<div class="row progress">
									<div class="progress-bar" style="width: {% fund_percent_achieved project.total_amount project.raised_amount %}%;"></div>
								</div>

								<div class="row">
									<div class="stats1 col-5">
										<div class="statsNumber">
											<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span>{{ project.raised_amount }}</p>
										</div>
										<div class="statsText">
											<p>Raised</p>
										</div>
									</div>
									<div class="stats2 col-4">
										<div class="statsNumber">
											<p>{% no_of_donors project %}</p>
										</div>
										<div class="statsText">
											<p>Donors</p>
										</div>
									</div>
									<div class="stats3 col-3">
										<div class="statsNumber">
											<p>{% days_left project.end_date  %}</p>
										</div>
										<div class="statsText">
											<p>Days left</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row projectSectionDonateButton">
								<a href="{% url 'checkOut' pk=project.project_id %}"><h2>Donate</h2></a>
							</div>
						</div>
					</div>
				</div>
				<a class="divLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
			</div>
            {% endfor %}
            {% endif %}
		</div>
	</div>
	
	<footer>
		<div class="row footerOptions">
			<div class="col-2 footerAboutUs">
				<ul>
					<li><h1>About Us</h1></li>
					<li><h2><a>What is Reimagine?</a></h2></li>
					<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>
					<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
				</ul>
			</div>
			<div class="col-4 footerCauses" >
				<div class="col-6 footerCauses1">
					<ul>
						<li><h1>Causes</h1>                  </li>
						<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
						<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
						<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
						<li><h2><a href="{% url 'index' %}">Women and Girls</a></h2>  </li>
						<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
						<li><h2><a href="{% url 'index' %}">LGBTQ</h2>                </li>
					</ul>
				</div>
				<div class="col-6 footerCauses2">
					<ul>	
						<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
						<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
					</ul>
				</div>
			</div>
{#			<div class="col-2 footerWorks">#}
{#				<ul>#}
{#					<li><h1>How it Works</h1>                      </li>#}
{#					<li><h2><a>Stuff</a></h2>                      </li>#}
{#					<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#					<li><h2><a>We really need to think</a></h2>    </li>#}
{#					<li><h2><a>about this</a></h2>                 </li>#}
{#					<li><h2><a>well not anymore</a></h2>           </li>#}
{#					<li><h2><a>VJ **</a></h2>                      </li>#}
{#				</ul>#}
{#			</div>#}
			<div class="col-4 footerContactShare">
				<ul>
					<li><h1>Contact Us</h1></li>
					<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
					<li><h2><span>Phone:</span> +91-8417048371</h2></li>
					<li><h2><span>Address:</span>Room 2,Limbdi Hostel,IIT(BHU)<br/>Varanasi,India-221005</h2></li>
					<li>
						<a  data-href="https://www.facebook.com/reimaginegiving" class="social-btn-flip fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="https://plus.google.com/share?url=https://plus.google.com/u/1/102570086777774315649" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button"   href="https://twitter.com/intent/tweet?text=Hello%20world" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-twitter"></i>
							</a>
							<a><i class="fa fa-linkedin"></i>   </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footerBottom">
			<a href="{% url 'index' %}">
				<img src="{% static "logo/logo-final-web-white.png" %}"></img>
			</a>
			<h2>cc 2017.</h2>
		</div>
		</div>
	</footer>

</body>