<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Digital Literacy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/751caf333d.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "teamPage.css" %}" media="screen"/>
	
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "teamPage.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>

						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a href="{% url 'viewAllProjects' cause='all' funding='nearly_funded' %}">Nearly Funded</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='just_started' %}">Just Started</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='ongoing' %}">Ongoing</a></li>
							</ul>
						</div>

						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a href="{% url 'viewAllProjects' cause='Education' funding='all' %}">Education</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Health' funding='all' %}">Health</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Children' funding='all' %}">Children</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Women_empowerment' funding='all' %}">Women Empowerment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='food_hunger' funding='all' %}">Food and Hunger</a></li>
								<li><a href="{% url 'viewAllProjects' cause='sports' funding='all' %}">Sports</a></li>
								<li><a href="{% url 'viewAllProjects' cause='animal_welfare' funding='all' %}">Animal Welfare</a></li>
								<li><a href="{% url 'viewAllProjects' cause='environment' funding='all' %}">Environment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='others' funding='all' %}">Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>

			<div class="col-9 floatRight">

				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>

				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
                                    <div class="form-log-in animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">LogIn</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                    <div class="form-log-in1 animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up1 animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
        </div>
	</header>

	<h1 class="teamPageHeading"><span>OUR TEAM</span></h1>
	<div class="row teamPageUL">
		<div class="col-4 teamMember1">
			<div class="teamPage">
				<img src="{% static "images/anuruddh.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Anuruddh Mishra</h2>
					<h2 class="teamMemberDesignation">Hahahaha</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo1">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberName">Anurudh Mishra</h2>
					<h2 class="teamMemberDesignation">Hahahahahaahahahahhahahah</h2>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMember2">
			<div class="teamPage">
				<img src="{% static "images/visharad.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Visharad Jalan</h2>
					<h2 class="teamMemberDesignation">wawawaw</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo2">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberName">Visharad Jalan</h2>
					<h2 class="teamMemberDesignation">wawawawawawawawawawawawaw</h2>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo3">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberName">Mohit Anand</h2>
					<h2 class="teamMemberDesignation">lalalalallalallalala</h2> 
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMember3">
			<div class="teamPage">
				<img src="{% static "images/mohit.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Mohit Anand</h2>
					<h2 class="teamMemberDesignation">lalalala</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMember4">
			<div class="teamPage">
				<img src="{% static "images/VJ.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Nikhil Raj</h2>
					<h2 class="teamMemberDesignation">Bakchod</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo4">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberName">Nikhil Raj</h2>
					<h2 class="teamMemberDesignation">I am Nikhil Raj.
					I love food..
					I love Pizza.
					I copy Code..</h2> 
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMember5">
			<div class="teamPage">
				<img src="{% static "images/VJ.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Nikhil Raj</h2>
					<h2 class="teamMemberDesignation">Bakchod</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo5">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberDesignation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h2> 
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMemberInfo6">
			<div class="teamPage1">
				<img src="{% static "images/VJ.jpg" %}" style="opacity:0;"/>
				<div class="teamMemberBasicInfo1">
					<h2 class="teamMemberName">Nikhil Raj</h2>
					<h2 class="teamMemberDesignation">Bakchod</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		<div class="col-4 teamMember6">
			<div class="teamPage">
				<img src="{% static "images/VJ.jpg" %}" />
				<div class="teamMemberBasicInfo">
					<h2 class="teamMemberName">Nikhil Raj</h2>
					<h2 class="teamMemberDesignation">Bakchod</h2>
					<a><i class="fa fa-facebook"></i>   </a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-twitter"></i>    </a>
				</div>
			</div>
		</div>
		
		
		<script src="{% static "teamPage.js" %}"></script>
	</div>
	
		<footer>
		<div class="row footerOptions">
			<div class="col-2 footerAboutUs">
				<ul>
					<li><h1>About Us</h1></li>
					<li><h2><a>What is Reimagine?</a></h2></li>
					<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>
					<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
				</ul>
			</div>
			<div class="col-4 footerCauses" >
				<div class="col-6 footerCauses1">
					<ul>
						<li><h1>Causes</h1>                  </li>
						<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
						<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
						<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
						<li><h2><a href="{% url 'index' %}">Skill Development</a></h2>  </li>
						<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
                        <li><h2><a href="{% url 'index' %}">LGBTQ</a></h2>                </li>
					</ul>
				</div>
				<div class="col-6 footerCauses2">
					<ul>	
						<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
						<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
					</ul>
				</div>
			</div>
{#			<div class="col-2 footerWorks">#}
{#				<ul>#}
{#					<li><h1>How it Works</h1>                      </li>#}
{#					<li><h2><a>Stuff</a></h2>                      </li>#}
{#					<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#					<li><h2><a>We really need to think</a></h2>    </li>#}
{#					<li><h2><a>about this</a></h2>                 </li>#}
{#					<li><h2><a>well not anymore</a></h2>           </li>#}
{#					<li><h2><a>VJ **</a></h2>                      </li>#}
{#				</ul>#}
{#			</div>#}
			<div class="col-4 footerContactShare">
				<ul>
					<li><h1>Contact Us</h1></li>
					<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
					<li><h2><span>Phone:</span> +91-8417048371</h2></li>
					<li><h2><span>Address:</span>IIT(BHU) Varanasi<br/>Varanasi,India-221005</h2></li>
					<li>
							<a  title="Facebook share" target="_blank" class="fb-xfbml-parse-ignore facebook customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="google_plus customer share" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button twitter customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="linkedin customer share" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.reimaginegiving.org" title="linkedin Share" target="_blank">
								<i class="fa fa-linkedin" ></i>
							</a>
						</li>
				</ul>
			</div>
		</div>
		<div class="row footerBottom">
			<a href="{% url 'index' %}">
				<img src="{% static "logo/logo-final-web-white.png" %}"></img>
			</a>
			<h2>cc 2017.</h2>
		</div>
		</div>
	</footer>
</body>