<!DOCTYPE html>
{% load staticfiles %}
<head>
	<title>Digital Literacy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/751caf333d.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "recommendedProjects.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "userPage.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "userPagePayment.css" %}" media="screen"/>
	
	<link rel='stylesheet prefetch' href='{% static "gallerymin.css" %}'>
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "cloudflare5.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "userPage.js" %}"></script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a>Nearly Funded</a></li>
								<li><a>Just Started</a></li>
								<li><a>Ongoing</a></li>
							</ul>
						</div>
						
						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a>Education</a></li>
								<li><a>Health</a></li>
								<li><a>Children</a></li>
								<li><a>Women Empowerment</a></li>
								<li><a>Food and Hunger</a></li>
								<li><a>Sports</a></li>
								<li><a>Animal Welfare</a></li>
								<li><a>Environment</a></li>
								<li><a>Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-9 floatRight">
				
				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>
				
				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
									{% include "registration/login.html" %}
									{% include "registration/register.html" %}
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">Log In</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                        {% include "registration/login.html" %}
									    {% include "registration/register.html" %}
									</div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
	</header>

	<div class="overlay" id="userPageShareBox">
		<div class="translucentContainer1"></div>
		<div class="userPageShareBoxOuterContainer">
			<div class="userPageShareBoxInnerContainer">

			</div>
		</div>
	</div>

	<div class="overlay" id="displayPictureEditOverlay">
		<div class="translucentContainer1"></div>
		<div class="displayPictureEditOuterContainer">
			<div class="displayPictureEditInnerContainer">

			</div>
		</div>
	</div>

	<div class="row userPageMainRow">
		
		<div class="col-2 userPageLeftColumn">
			<div class="icon-cont">
				<img class="circleIconImage" src="{% static "images/anuruddh.png" %}">
                <p><i class="fa fa-pencil icon-contPencil"></i></p>
			</div>
            <script src="{% static "userPage.js" %}"></script>
			<h2 class="userPageLeftUserName">{{ user.first_name }} {{ user.last_name }}</h2>
			<div class="userPageProfileOptions">
				<h2 class="userPageSetttingOptionsHeading">Profile</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks active" onclick="openUserPageLeftSideTabs(event,'userPageProfileGeneral')">General</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageProfilePayment')">Payment Methods</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageProfileCauses')">Causes i Care About</a></li>
				</ul>
			</div>
			
			<div class="userPageCampaignsOptions">
				<h2 class="userPageSetttingOptionsHeading">Supported Campaigns</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageOngoingCampaigns')">Ongoing Campaigns</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageFinishedCampaigns')">Finished Campaigns</a></li>
				</ul>
			</div>
			
			<div class="userPageAccountOptions">
				<h2 class="userPageSetttingOptionsHeading">Account</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageAccountLogIn')">LogIn</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageAccountNotifications')">Notifications</a></li>
				</ul>
			</div>
		</div>
		
		<div class="col-8 userPageCenterContent">
		
			<div id="userPageProfileGeneral" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>GENERAL INFORMATION</h1>
				</div>
				
				<div class="userPageGeneralInformation">
					<div class="userPageGeneralInformationHeading">
						<h2>Basic Information</h2>
					</div>
					<div class="userPageGeneralInformationContent userPageGeneralInformationContent1">
						<div class="row userPageGeneralInformationContentRows">
							<h2 class="col-6">FIRST NAME: <span>{{ user.first_name }}</span></h2>
							<h2 class="col-6">LAST NAME: <span>{{ user.last_name }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2>EMAIL ADDRESS: <span>{{ user.email }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2>MOBILE NO: <span>{{ user_details.mobile_number }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2>PAN DETAILS: <span>{{ user_details.pan_number }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows lastRow">
							<h2>OCCUPATION: <span>{{ user_details.occupation }}</span></h2>
						</div>
						<a class="userPageGeneralInformationi1"><i class="fa fa-pencil-square-o"></i></a>
						<a class="saveDetails1">Save</a>
					</div>
				</div>
				
				<div class="userPageGeneralInformation">
					<div class="userPageGeneralInformationHeading">
						<h2>Mailing Information</h2>
					</div>
					<div class="userPageGeneralInformationContent userPageGeneralInformationContent2">
						<div class="row userPageGeneralInformationContentRows">
							<h2>ADDRESS LINE 1: <span>{{ user_details.address_line_1 }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2>ADDRESS LINE 2: <span>{{ user_details.address_line_2 }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2 class="col-6">CITY: <span>{{ user_details.city }}</span></h2>
							<h2 class="col-6">PINCODE: <span>{{ user_details.pincode }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows">
							<h2>PAN DETAILS: <span>{{ user_details.pan_number }}</span></h2>
						</div>
						<div class="row userPageGeneralInformationContentRows lastRow">
							<h2>OCCUPATION: <span>{{ user_details.occupation }}</span></h2>
						</div>
						<a class="userPageGeneralInformationi2"><i class="fa fa-pencil-square-o"></i></a>
						<a class="saveDetails2">Save</a>
					</div>
				</div>
				<script src="{% static "userPage.js" %}"></script>
			</div>
			
			<div id="userPageProfilePayment" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Payment Methods</h1>
				</div>
				<div class="row userPagePaymentMethods">
					<div class="userPagePaymentMethodOptions">
						<h3>Add a Payment Option</h3>
						<div class="col-3">
							<ul>
								<li><a href="javascript:void(0)" class="userPagePaymentOptionsLinks active1" onclick="openUserPagePaymentOptionsTabs(event,'userPagePaymentOptionsAddCard')">Credit/Debit Card</a></li>
								<li><a href="javascript:void(0)" class="userPagePaymentOptionsLinks" onclick="openUserPagePaymentOptionsTabs(event,'userPagePaymentOptionsAddAccount')">Paypal Account</a></li>
							</ul>
						</div>
						
						<div class="col-9 userPagePaymentOptionsLinksContent" id="userPagePaymentOptionsAddCard">
							<form class="form" autocomplete="off" novalidate>
								<fieldset>
								  <label for="card-number">Card Number</label>
								  <input type="num" id="card-number" class="input-cart-number" maxlength="4" />
								  <input type="num" id="card-number-1" class="input-cart-number" maxlength="4" />
								  <input type="num" id="card-number-2" class="input-cart-number" maxlength="4" />
								  <input type="num" id="card-number-3" class="input-cart-number" maxlength="4" />
								</fieldset>
								<fieldset>
								  <label for="card-holder">Card holder</label>
								  <input type="text" id="card-holder" />
								</fieldset>
								<fieldset class="fieldset-expiration">
								  <label for="card-expiration-month">Expiration date</label>
								  <div class="select">
									<select id="card-expiration-month">
									  <option></option>
									  <option>01</option>
									  <option>02</option>
									  <option>03</option>
									  <option>04</option>
									  <option>05</option>
									  <option>06</option>
									  <option>07</option>
									  <option>08</option>
									  <option>09</option>
									  <option>10</option>
									  <option>11</option>
									  <option>12</option>
									</select>
								  </div>
								  <div class="select">
									<select id="card-expiration-year">
									  <option></option>
									  <option>2017</option>
									  <option>2018</option>
									  <option>2019</option>
									  <option>2020</option>
									  <option>2021</option>
									  <option>2022</option>
									  <option>2023</option>
									  <option>2024</option>
									  <option>2025</option>
									  <option>2026</option>
									</select>
								  </div>
								</fieldset>
								<fieldset class="fieldset-ccv">
								  <label for="card-ccv">CCV</label>
								  <input type="password" id="card-ccv" maxlength="3" />
								</fieldset>
								<button class="btn"><i class="fa fa-lock"></i> Add Card</button>
							  </form>
						</div>
						
						<div class="col-9 userPagePaymentOptionsLinksContent" id="userPagePaymentOptionsAddAccount">
							<h4>addhgdf</h4>
						</div>
						
					</div>
					<div class="userPagePaymentSavedCards">
						<h2>Saved Cards</h2>
						<ul>
							<li>
								<h2>XXXX-XXXX-XXXX-1234</h2>
								<p>Exp: 11/2022</p>
							</li>
							<li class="addNewCard">
								<h2>+<br/>Link a Card</h2>
							</li>
						</ul>
					</div>
					<div class="userPagePaymentSavedCards">
						<h2>Linked Accounts</h2>
						<ul>
							<li>
								<h2>{{ user.first_name }} {{ user.last_name }}</h2>
							</li>
							<li class="addNewCard">
								<h2>+<br/>Link a Card</h2>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="userPageProfileCauses" class="row userPageLeftTabsContent"style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Cause I care about</h1>
				</div>
			</div>
			
			<div id="userPageOngoingCampaigns" class="row userPageLeftTabsContent"style="height: 1300px;">
				
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Ongoing Campaigns</h1>
				</div>
				<div class="userPageFinishedCampaigns">
					<ul>
                        {% if ongoing_project_donations %}
                        {%  for donation in ongoing_project_donations %}
						<li>
							<div class="row userPageFinishedCampaignsImage">
								<img src="{{ project.thumbnail|safe }}">
								<h2>{{ donation.project_id.title }}</h2>
							</div>
							<div class="topRight">
								<h2><i class="fa fa-map-marker"></i>{{ donation.project_id.ngo_id.address }}</h2>
							</div>
							<div class="userPageFinishedCampaignsNGO">
								<h2>By<span>{{ donation.project_id.ngo_id.name }}</span></h2>
							</div>
							<div class="userPageFinishedCampaignsBottom">
								<h2><span>Amount:</span>{{ donation.amount }}</h2>
								<div class="userPageFinishedCampaignsBottomLinks"><a href="{% url 'index' %}">SHARE</a><a href="{% url 'index' %}">VIEW REPORTS</a></div>
							</div>
							<a class="divLink" href="{% url 'projectPage' pk=donation.project_id.project_id %}"></a>
						</li>
                        {% endfor %}
                    {% endif %}
					</ul>
				</div>
				
				<div class="row projects">
					<div class="row recommendedProjectsHeading">
						<h2 class="col-6">Recommended Projects</h2>
					</div>
					<div class="row projectsContent">
						<div class="projectSection1">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web1.jpg" %}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>Child Education Project</h1>
									<h2>Nirmaan Society</h2>
									<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
									</p>
								</div>
								
								<div class="row projectBottom">
									<div class="row" style="position:relative;">
										<div class="row projectStats">
											<div class="row" style="margin-bottom: 12px;">
												<h2 class="floatRight">50%</h2>
											</div>
											
											<div class="row progress">
												<div class="progress-bar"></div>
											</div>
											
											<div class="row">
												<div class="stats1 col-5">
													<div class="statsNumber">
														<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
													</div>
													<div class="statsText">
														<p>Raised</p>
													</div>
												</div>
												<div class="stats2 col-4">
													<div class="statsNumber">
														<p>105</p>
													</div>
													<div class="statsText">
														<p>Donors</p>
													</div>
												</div>
												<div class="stats3 col-3">
													<div class="statsNumber">
														<p>14</p>
													</div>
													<div class="statsText">
														<p>Days left</p>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row projectSectionDonateButton">
											<a href="{% url 'index' %}"><h2>Donate</h2></a>
										</div>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
						
						<div class="projectSection2">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web2.jpg" %}" />
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								
									<div class="projectDetails">
										<h1>Child Education Project</h1>
										<h2>Nirmaan Society</h2>
										<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
											</p>
									</div>
									
									<div class="row projectBottom">
									<div class="row projectStats">
										<div class="row" style="margin-bottom: 12px;">
											<h2 class="floatRight">50%</h2>
										</div>
										
										<div class="row progress">
											<div class="progress-bar"></div>
										</div>
										
										<div class="row">
											<div class="stats1 col-5">
												<div class="statsNumber">
													<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
												</div>
												<div class="statsText">
													<p>Raised</p>
												</div>
											</div>
											<div class="stats2 col-4">
												<div class="statsNumber">
													<p>105</p>
												</div>
												<div class="statsText">
													<p>Donors</p>
												</div>
											</div>
											<div class="stats3 col-3">
												<div class="statsNumber">
													<p>14</p>
												</div>
												<div class="statsText">
													<p>Days left</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row projectSectionDonateButton">
										<a href="{% url 'index' %}"><h2>Donate</h2></a>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
						
						<div class="projectSection3">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web3.jpg" %}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>Child Education Project</h1>
									<h2>Nirmaan Society</h2>
									<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
										</p>
								</div>
								
								<div class="row projectBottom">
									<div class="row projectStats">
										<div class="row" style="margin-bottom: 12px;">
											<h2 class="floatRight">50%</h2>
										</div>
										
										<div class="row progress">
											<div class="progress-bar"></div>
										</div>
										
										<div class="row">
											<div class="stats1 col-5">
												<div class="statsNumber">
													<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
												</div>
												<div class="statsText">
													<p>Raised</p>
												</div>
											</div>
											<div class="stats2 col-4">
												<div class="statsNumber">
													<p>105</p>
												</div>
												<div class="statsText">
													<p>Donors</p>
												</div>
											</div>
											<div class="stats3 col-3">
												<div class="statsNumber">
													<p>14</p>
												</div>
												<div class="statsText">
													<p>Days left</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row projectSectionDonateButton">
										<a href="{% url 'index' %}"><h2>Donate</h2></a>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
					</div>
				</div>
			
				
			</div>
			
			<div id="userPageFinishedCampaigns" class="row userPageLeftTabsContent"style="height: 1300px;">
				
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Finished Campaigns</h1>
				</div>
				<div class="userPageFinishedCampaigns">
					<ul>
                        {% if completed_project_donations %}
                        {%  for donation in completed_project_donations %}
						<li>
							<div class="row userPageFinishedCampaignsImage">
								<img src="{{ project.thumbnail|safe }}">
								<h2>{{ donation.project_id.title }}</h2>
							</div>
                            <div class="topLeft">
								<h2>FINISHED</h2>
							</div>
							<div class="topRight">
								<h2><i class="fa fa-map-marker"></i>{{ donation.project_id.ngo_id.address }}</h2>
							</div>
							<div class="userPageFinishedCampaignsNGO">
								<h2>By<span>{{ donation.project_id.ngo_id.name }}</span></h2>
							</div>
							<div class="userPageFinishedCampaignsBottom">
								<h2><span>Amount:</span>{{ donation.amount }}</h2>
								<div class="userPageFinishedCampaignsBottomLinks"><a href="{% url 'index' %}">SHARE</a><a href="{% url 'index' %}">VIEW REPORTS</a></div>
							</div>
							<a class="divLink" href="">{% url 'projectPage' pk=donation.project_id.project_id %}</a>
						</li>
                        {% endfor %}
                    {% endif %}
					</ul>
				</div>
				
				<div class="row projects">
					<div class="row recommendedProjectsHeading">
						<h2 class="col-6">Recommended Projects</h2>
					</div>
					<div class="row projectsContent">
						<div class="projectSection1">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web1.jpg" %}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>Child Education Project</h1>
									<h2>Nirmaan Society</h2>
									<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
									</p>
								</div>
								
								<div class="row projectBottom">
									<div class="row" style="position:relative;">
										<div class="row projectStats">
											<div class="row" style="margin-bottom: 12px;">
												<h2 class="floatRight">50%</h2>
											</div>
											
											<div class="row progress">
												<div class="progress-bar"></div>
											</div>
											
											<div class="row">
												<div class="stats1 col-5">
													<div class="statsNumber">
														<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
													</div>
													<div class="statsText">
														<p>Raised</p>
													</div>
												</div>
												<div class="stats2 col-4">
													<div class="statsNumber">
														<p>105</p>
													</div>
													<div class="statsText">
														<p>Donors</p>
													</div>
												</div>
												<div class="stats3 col-3">
													<div class="statsNumber">
														<p>14</p>
													</div>
													<div class="statsText">
														<p>Days left</p>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row projectSectionDonateButton">
											<a href="{% url 'index' %}"><h2>Donate</h2></a>
										</div>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
						
						<div class="projectSection2">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web2.jpg" %}" />
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								
									<div class="projectDetails">
										<h1>Child Education Project</h1>
										<h2>Nirmaan Society</h2>
										<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
											</p>
									</div>
									
									<div class="row projectBottom">
									<div class="row projectStats">
										<div class="row" style="margin-bottom: 12px;">
											<h2 class="floatRight">50%</h2>
										</div>
										
										<div class="row progress">
											<div class="progress-bar"></div>
										</div>
										
										<div class="row">
											<div class="stats1 col-5">
												<div class="statsNumber">
													<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
												</div>
												<div class="statsText">
													<p>Raised</p>
												</div>
											</div>
											<div class="stats2 col-4">
												<div class="statsNumber">
													<p>105</p>
												</div>
												<div class="statsText">
													<p>Donors</p>
												</div>
											</div>
											<div class="stats3 col-3">
												<div class="statsNumber">
													<p>14</p>
												</div>
												<div class="statsText">
													<p>Days left</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row projectSectionDonateButton">
										<a href="{% url 'index' %}"><h2>Donate</h2></a>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
						
						<div class="projectSection3">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web3.jpg" %}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="images/causeThumbnail.png"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>Child Education Project</h1>
									<h2>Nirmaan Society</h2>
									<p>This is sample text to give us an idea of what the major project element will look like after we put in text 	into the entire thing. The font is Myraid Pro, but should we consider some other font instead?
										</p>
								</div>
								
								<div class="row projectBottom">
									<div class="row projectStats">
										<div class="row" style="margin-bottom: 12px;">
											<h2 class="floatRight">50%</h2>
										</div>
										
										<div class="row progress">
											<div class="progress-bar"></div>
										</div>
										
										<div class="row">
											<div class="stats1 col-5">
												<div class="statsNumber">
													<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
												</div>
												<div class="statsText">
													<p>Raised</p>
												</div>
											</div>
											<div class="stats2 col-4">
												<div class="statsNumber">
													<p>105</p>
												</div>
												<div class="statsText">
													<p>Donors</p>
												</div>
											</div>
											<div class="stats3 col-3">
												<div class="statsNumber">
													<p>14</p>
												</div>
												<div class="statsText">
													<p>Days left</p>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row projectSectionDonateButton">
										<a href="{% url 'index' %}"><h2>Donate</h2></a>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
					</div>
				</div>
			
			</div>
			
			<div id="userPageAccountLogIn" class="row userPageLeftTabsContent"style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>LogIn SETTINGS</h1>
				</div>
				<form class="form" autocomplete="off" novalidate>
					<fieldset>
					  <label for="userEmail">Email</label>
					  <input type="text" id="userEmail" />
					  <p>*Email not verified</p>
					</fieldset>
					<fieldset>
					  <label for="userOldPassword">Enter Password</label>
					  <input type="password" id="userOldPassword" />
					</fieldset>
					<button> Update Email</button>
				</form>
				<button class="changePassword" onclick="toggleChangePasswordForm()"> Change Password</button>
				<form class="form changePasswordForm" id="changePasswordForm" autocomplete="off" novalidate>
					<fieldset>
					  <label for="userOldPassword">Current Password</label>
					  <input type="password" id="userOldPassword" />
					</fieldset>
					<fieldset>
					  <label for="userNewPassword">New Password</label>
					  <input type="password" id="userNewPassword" />
					</fieldset>
					<fieldset>
					  <label for="userReNewPassword">Re-enter New Password</label>
					  <input type="password" id="userReNewPassword" />
					</fieldset>
					<button>CHANGE</button>
				</form>
			</div>
			
			<div id="userPageAccountNotifications" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Notifications SETTINGS</h1>
				</div>
                <form action="userPage.html" method="post">
				<ul class="userPageAccountNotificationsOptions">
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="projectsSupportedNotifications">Projects you have supported</label>
							<fieldset>
								<input type="checkbox" id="projectsSupportedNotificationsMail" checked value="True"/>
								<label for="projectsSupportedNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="projectsSupportedNotificationsMobile" checked value="True"/>
								<label for="projectsSupportedNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="causesICareProjectNotifications">Exciting Projects in Causes you care about</label>
							<fieldset>
								<input type="checkbox" id="causesICareProjectNotificationsMail" checked value="True"/>
								<label for="causesICareProjectNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="causesICareProjectNotificationsMobile" checked value="True"/>
								<label for="causesICareProjectNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="generalNotifications">General Notifications from Reimagine</label>
							<fieldset>
								<input type="checkbox" id="generalNotificationsMail" checked value="True"/>
								<label for="generalNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="generalNotificationsMobile" checked value="True"/>
								<label for="generalNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
				</ul>
                </form>
				<button type="submit">Save</button>
			</div>
			
		</div>
		
		<div class="col-2 userPageRightColumn">
		
			<div class="progress-badge js-progress-badge">
				<div class="badge badge--empty">
					<div class="badge__fill">
						<div class="badge__fill-inner"></div>
					</div>
					<div class="badge__content">
					<div class="badge__content-inner">
						<div class="badge__value">Gold</div>
					</div>
					</div>
				</div>
			</div>
			<h2 class="userPageRightSupporter">Supporter</h2>
			<script src="{% static "userPage.js" %}"></script>
			
			<div class="userPageConnectOptions">
				<h2 class="userPageRightOptionsHeading">Spred The Word</h2>
				<div class="row userPageRightOptionsContent">
					<a data-href="https://www.facebook.com/reimaginegiving" class=" facebook button social-btn-flip fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" >
						<i class="icon">
						  <i class="fa fa-facebook"></i>
						</i>
						<div class="slide">
							<p>
							Facebook
							</p>
						</div>
						<div class="slide1">
							<p>
							Share
							</p>
						</div>
					</a>
				</div>
				<div class="row userPageRightOptionsContent">
					<a class="twitter-share-button twitter button"   href="https://twitter.com/intent/tweet?text=Hello%20world">
						<i class="icon">
						  <i class="fa fa-twitter">
						</i>
					  </i>
					  <div class="slide">
						<p>
						  Twitter
						</p>
					  </div>
					  <div class="slide1">
							<p>
							Tweet
							</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="userPageProjectOptions">
				<h2 class="userPageRightOptionsHeading">Almost Funded</h2>
				<ul>
					<li><div class="projectSection1">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{% static "images/web1.jpg" %}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>Varanasi</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>Child Education</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'index' %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>Child Education Project</h1>
									<h2>Nirmaan Society</h2>
									
								</div>
								
								<div class="row projectBottom">
									<div class="row" style="position:relative;">
										<div class="row projectStats">
											<div class="row" style="margin-bottom: 12px;">
												<h2 class="floatRight">50%</h2>
											</div>
											
											<div class="row progress">
												<div class="progress-bar"></div>
											</div>
											
											<div class="row">
												<div class="stats1 col-5">
													<div class="statsNumber">
														<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span> 250000</p>
													</div>
													<div class="statsText">
														<p>Raised</p>
													</div>
												</div>
												<div class="stats2 col-4">
													<div class="statsNumber">
														<p>105</p>
													</div>
													<div class="statsText">
														<p>Donors</p>
													</div>
												</div>
												<div class="stats3 col-3">
													<div class="statsNumber">
														<p>14</p>
													</div>
													<div class="statsText">
														<p>Days left</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="{% static "userPage.js" %}"></script>
	
		<footer>
		<div class="row footerOptions">
			<div class="col-2 footerAboutUs">
				<ul>
					<li><h1>About Us</h1></li>
					<li><h2><a>What is Reimagine?</a></h2></li>
					<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>
					<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
				</ul>
			</div>
			<div class="col-4 footerCauses" >
				<div class="col-6 footerCauses1">
					<ul>
						<li><h1>Causes</h1>                  </li>
						<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
						<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
						<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
						<li><h2><a href="{% url 'index' %}">Women and Girls</a></h2>  </li>
						<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
						<li><h2><a href="{% url 'index' %}">LGBTQ</h2>                </li>
					</ul>
				</div>
				<div class="col-6 footerCauses2">
					<ul>	
						<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
						<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
					</ul>
				</div>
			</div>
{#			<div class="col-2 footerWorks">#}
{#				<ul>#}
{#					<li><h1>How it Works</h1>                      </li>#}
{#					<li><h2><a>Stuff</a></h2>                      </li>#}
{#					<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#					<li><h2><a>We really need to think</a></h2>    </li>#}
{#					<li><h2><a>about this</a></h2>                 </li>#}
{#					<li><h2><a>well not anymore</a></h2>           </li>#}
{#					<li><h2><a>VJ **</a></h2>                      </li>#}
{#				</ul>#}
{#			</div>#}
			<div class="col-4 footerContactShare">
				<ul>
					<li><h1>Contact Us</h1></li>
					<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
					<li><h2><span>Phone:</span> +91-8417048371</h2></li>
					<li><h2><span>Address:</span>Room 2,Limbdi Hostel,IIT(BHU)<br/>Varanasi,India-221005</h2></li>
					<li>
						<a  data-href="https://www.facebook.com/reimaginegiving" class="social-btn-flip fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="https://plus.google.com/share?url=https://plus.google.com/u/1/102570086777774315649" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button"   href="https://twitter.com/intent/tweet?text=Hello%20world" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
								<i class="fa fa-twitter"></i>
							</a>
							<a><i class="fa fa-linkedin"></i>   </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footerBottom">
			<a href="{% url 'index' %}">
				<img src="{% static "logo/logo-final-web-white.png" %}"></img>
			</a>
			<h2>cc 2017.</h2>
		</div>
		</div>
	</footer>
</body>