<!DOCTYPE html>
{% load staticfiles %}
{% load tags %}
<head>
	<title>{{ user.first_name }} {{ user.last_name }}|Re!magine Giving</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/751caf333d.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static "common.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "explore.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "signup.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "recommendedProjects.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "footer.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "exploreButton.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "fontAwesomeMin.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "userPage.css" %}" media="screen"/>
	<link rel="stylesheet" type="text/css" href="{% static "userPagePayment.css" %}" media="screen"/>
	
	<link rel='stylesheet prefetch' href='{% static "gallerymin.css" %}'>
	<script src="{% static "cloudflare.js" %}"></script>
	<script src="{% static "cloudflare1.js" %}"></script>
	<script src="{% static "cloudflare5.js" %}"></script>
	<script src="{% static "explore.js" %}"></script>
	<script src="{% static "googleapi.js" %}"></script>
	<script src="{% static "userPage.js" %}"></script>
</head>

<body>
	<header>
		<div class="row header">
			<div class="col-3 mainNavBarButton" id="exploreDiv">
				<div class="col-2">
					 <a class="ninja-btn" id="ninja-btn" title="menu" onclick="openNav()"><span></span></a>
				</div>
				<div class="col-10 navBarExploreButton">
					<p class="exploreButton" id="exploreButton"><span onclick="openNav()">Explore</span></p>
				</div>
			</div>
			<div id="myNav" class="explore">
				<div style="background-color:black;"class="translucentContainer"></div>
				<div id="exploreContent" class="exploreContent">	
					<form>
						<div class="location">
							<span  onclick="myfunction1()">
								<div class="exploreHeading1 row">
									<div class="col-9"><h2>Location</h2></div>
									<div class="col-3"><h2 id="downArrow1" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow1" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<div class="inputField" id="locationInput">
								<div class="row" id="wrap">
									<form action="" autocomplete="on">
										<input id="search" name="search" type="text" placeholder="Search"><input id="search_submit" value="Rechercher" type="submit">
									</form>
								</div>
								<ul>
									<li><a>Delhi</a></li>
									<li><a>Varanasi</a></li>
									<li><a>Jaipur</a></li>
								</ul>
							</div>
						</div>
						
						<div class="funding">
							<span onclick="myfunction2()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Funding</h2></div>
									<div class="col-3"><h2 id="downArrow2" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow2" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="fundingLevels" id="fundingInput">
								<li><a href="{% url 'viewAllProjects' cause='all' funding='nearly_funded' %}">Nearly Funded</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='just_started' %}">Just Started</a></li>
								<li><a href="{% url 'viewAllProjects' cause='all' funding='ongoing' %}">Ongoing</a></li>
							</ul>
						</div>

						<div class="causes">
							<span  onclick="myfunction3()">
								<div class="exploreHeading row">
									<div class="col-9"><h2>Causes</h2></div>
									<div class="col-3"><h2 id="downArrow3" class="downArrow downArrowClose">&#9660;</h2></div>
									<div class="col-3"><h2 id="topArrow3" class="topArrow">&#9650;</h2></div>
								</div>
							</span>
							<ul class="causeList" id="causeInput">
								<li><a href="{% url 'viewAllProjects' cause='Education' funding='all' %}">Education</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Health' funding='all' %}">Health</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Children' funding='all' %}">Children</a></li>
								<li><a href="{% url 'viewAllProjects' cause='Women_empowerment' funding='all' %}">Women Empowerment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='food_hunger' funding='all' %}">Food and Hunger</a></li>
								<li><a href="{% url 'viewAllProjects' cause='sports' funding='all' %}">Sports</a></li>
								<li><a href="{% url 'viewAllProjects' cause='animal_welfare' funding='all' %}">Animal Welfare</a></li>
								<li><a href="{% url 'viewAllProjects' cause='environment' funding='all' %}">Environment</a></li>
								<li><a href="{% url 'viewAllProjects' cause='others' funding='all' %}">Others</a></li>
							</ul>
						</div>
					</form>
				</div>
			</div>

			<div class="col-9 floatRight">

				<div class="col-8 logo">
					<a href="{% url 'index' %}">
						<img src="{% static "logo/logo-final.png" %}"></img>
					</a>
				</div>

				<div class="col-4 mainNavBarButton">
                    {% if user.is_authenticated %}
					<div class="col-12 navBarProfileButton" id="navBarProfileButton">
						<h2 id="navBarProfile"><span class="profileSpan">{{ user.first_name }} {{ user.last_name }}</span></h2>
						<div class="navBarProfileOptions">
							 <a href="{% url 'userPage' %}"><h2>Profile</h2></a>
							 <a href="#"><h2>My Donations</h2></a>
							 <a href="{% url 'logout' %}" onclick="logout()" style="border:none;"><h2>LogOut</h2></a>
						</div>
					</div>
                    {% else %}
                    <div class="col-9 navBarSignUpButton" id="navBarSignUpButton">
						<p id="registration"><span class="SignUpSpan" onclick="openSignUpOverlay()">Sign Up</span></p>
					</div>
					<div id="SignUp" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container">
						  <div class="container">
							<div class="info-container">
							  <div class="info-item log-in">
								<p>Have an account?</p>
								<div class="btn1">Log In</div>
							  </div>
							  <div class="info-item sign-up">
								<p>Don't have an account?</p>
								<div class="btn1">Sign Up</div>
							  </div>
							</div>
							<div class="form-container actived">
								<img src="{% static "logo/logo-final.png" %}"/>
								<div class="form-item">
                                    <div class="form-log-in animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col-3 navBarLogInButton" id="navBarLogInButton">
						<p id="registration"><span class="LogInSpan" onclick="openLogInOverlay()">LogIn</span></p>
					</div>
					<div id="LogIn" class="overlay">
						<div class="translucentContainer"></div>
							<!-- overlay content -->
						<div class="outer-container1">
							<div class="container1">
								<div class="info-container1">
								  <div class="info-item1 log-in1">
									<p>Have an account?</p>
									<div class="btn2">Log In</div>
								  </div>
								  <div class="info-item1 sign-up1">
									<p>Don't have an account?</p>
									<div class="btn2">Sign Up</div>
								  </div>
								</div>
								<div class="form-container1">
									<img src="{% static "logo/logo-final.png" %}"/>
									<div class="form-item1">
                                    <div class="form-log-in1 animated">
									{% include "registration/login.html" %}
                                    </div>
                                    <div class="form-sign-up1 animated">
									{% include "registration/register.html" %}
                                    </div>
								</div>
							</div>
						</div>
						<script src='{% static "cloudflare.js" %}'></script>
						<script src='{% static "cloudflare1.js" %}'></script>

						<script src="{% static "SignUp.js" %}"></script>
					</div>
                        {% endif %}
				</div>
			</div>
		</div>
        </div>
	</header>

	<div class="overlay" id="userPageCauseAdd">
		<div class="translucentContainer1"></div>
		<div class="userPageCauseAddOuterContainer">
			<div class="userPageCauseAddInnerContainer">
            {% if cause_form %}
				<form action="userPage.html" method="POST">
                {% csrf_token %}
                    {% for cause in not_chosen_causes %}
					<fieldset>
					  <input type="checkbox" id="{{ cause.name}}" name="{{ cause.name }}" value="{{ cause.cause_id }}"/>
					  <label for="Education">{{ cause.name }}</label>
					</fieldset>
                    {% endfor %}
					<button class="userPageProfileCausesAddNewButton" type="submit" name="submit" value="causes_i_care_about"><i class="fa fa-plus"></i> Add</button>
				</form>
            {% endif %}
			</div>
		</div>
	</div>

	<div class="overlay" id="displayPictureEditOverlay">
		<div class="translucentContainer1"></div>
		<div class="displayPictureEditOuterContainer">
			<div class="displayPictureEditInnerContainer">

			</div>
		</div>
	</div>

	<div class="row userPageMainRow">
		
		<div class="col-2 userPageLeftColumn">
			<div class="icon-cont">
				<img class="circleIconImage" src="{% static "images/userimage.png" %}">
                <p><i class="fa fa-pencil icon-contPencil"></i></p>
			</div>
            <script src="{% static "userPage.js" %}"></script>
			<h2 class="userPageLeftUserName">{{ user.first_name }} {{ user.last_name }}</h2>
			<div class="userPageProfileOptions">
				<h2 class="userPageSetttingOptionsHeading">Profile</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks active" onclick="openUserPageLeftSideTabs(event,'userPageProfileGeneral')">General</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageProfilePayment')">Payment Methods</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageProfileCauses')">Causes I Care About</a></li>
				</ul>
			</div>
			
			<div class="userPageCampaignsOptions">
				<h2 class="userPageSetttingOptionsHeading">Supported Campaigns</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageOngoingCampaigns')">Ongoing Campaigns</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageFinishedCampaigns')">Finished Campaigns</a></li>
				</ul>
			</div>
			
			<div class="userPageAccountOptions">
				<h2 class="userPageSetttingOptionsHeading">Account</h2>
				<ul>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageAccountLogIn')">LogIn</a></li>
					<li><a href="javascript:void(0)" class="userPageLeftColumnOptionsLinks" onclick="openUserPageLeftSideTabs(event,'userPageAccountNotifications')">Notifications</a></li>
				</ul>
			</div>
		</div>
		
		<div class="col-8 userPageCenterContent">
		
			<div id="userPageProfileGeneral" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>GENERAL INFORMATION</h1>
				</div>
				
				<div class="userPageGeneralInformation">
					<div class="userPageGeneralInformationHeading">
						<h2>Basic Information</h2>
					</div>

                    <form method="post" action="userPage.html">
                        {% csrf_token %}
					<div class="userPageGeneralInformationContent userPageGeneralInformationContent1">
						<fieldset class="row userPageGeneralInformationContentRows">
							<fieldset class="col-6">
								<label for="firstName">FIRST NAME:</label>
								<input name="first_name" type="text" id="firstName" readonly="readonly" value="{{ user.first_name }}"/>
							</fieldset>
							<fieldset class="col-6">
								<label for="lastName">LAST NAME:</label>
								<input name="last_name" type="text" id="lastName" readonly="readonly" value="{{ user.last_name }}"/>
							</fieldset>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="email">EMAIL ADDRESS:</label>
							<input type="text" id="email" readonly="readonly" value="{{ user.email }}" name="email"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="mobile">MOBILE NO:</label>
							<input type="text" id="mobile" readonly="readonly" value="{{ user_details.mobile_number }}" name="mobile"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="panDetails">PAN DETAILS:</label>
							<input type="text" id="panDetails" readonly="readonly" value="{{ user_details.pan_number }}" name="pan"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows lastrow">
							<label for="occupation">OCCUPATION:</label>
							<input type="text" id="occupation" readonly="readonly" value="{{ user_details.occupation }}" name="occupation"/>
						</fieldset>
						<a class="userPageGeneralInformationi1"><i class="fa fa-pencil-square-o"></i></a>
						<button name="submit" type="submit" value="basic" class="saveDetails1">Save</button>
					</div>
                    </form>
				</div>
				
				<div class="userPageGeneralInformation">
					<div class="userPageGeneralInformationHeading">
						<h2>Mailing Information</h2>
					</div>
                    <form method="post" action="userPage.html">
                        {% csrf_token %}
					<div class="userPageGeneralInformationContent userPageGeneralInformationContent2">
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="email">ADDRESS LINE 1:</label>
							<input type="text" id="email" readonly="readonly" value="{{ user_details.address_line_1 }}" name="address_line_1"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="mobile">ADDRESS LINE 2:</label>
							<input type="text" id="mobile" readonly="readonly" value="{{ user_details.address_line_2 }}" name="address_line_2"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<fieldset class="col-6">
								<label for="firstName">CITY:</label>
								<input type="text" id="firstName" readonly="readonly" value="{{ user_details.city }}" name="city"/>
							</fieldset>
							<fieldset class="col-6">
								<label for="lastName">PINCODE:</label>
								<input type="text" id="lastName" readonly="readonly" value="{{ user_details.pincode }}" name="pincode"/>
							</fieldset>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows">
							<label for="panDetails">PAN DETAILS:</label>
							<input type="text" id="panDetails" readonly="readonly" value="{{ user_details.pan_number }}" name="pan"/>
						</fieldset>
						<fieldset class="row userPageGeneralInformationContentRows lastrow">
							<label for="occupation">OCCUPATION:</label>
							<input type="text" id="occupation" readonly="readonly" value="{{ user_details.occupation }}" name="occupation"/>
						</fieldset>
						<a class="userPageGeneralInformationi2"><i class="fa fa-pencil-square-o"></i></a>
                        <button name="submit" type="submit" value="mailing" class="saveDetails2">Save</button>
					</div>
                    </form>
				</div>
				<script src="{% static "userPage.js" %}"></script>
			</div>
			
			<div id="userPageProfilePayment" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Payment Methods</h1>
				</div>
				<div class="row userPagePaymentMethods">
					<div class="userPagePaymentMethodOptions">
						<h3>Add a Payment Option</h3>
						<div class="col-3">
							<ul>
								<li><a href="javascript:void(0)" class="userPagePaymentOptionsLinks active1" onclick="openUserPagePaymentOptionsTabs(event,'userPagePaymentOptionsAddCard')">Credit/Debit Card</a></li>
								<li><a href="javascript:void(0)" class="userPagePaymentOptionsLinks" onclick="openUserPagePaymentOptionsTabs(event,'userPagePaymentOptionsAddAccount')">Paypal Account</a></li>
							</ul>
						</div>
						
						<div class="col-9 userPagePaymentOptionsLinksContent" id="userPagePaymentOptionsAddCard">
                            {% if card_form %}
							<form class="form" autocomplete="off" novalidate method="post" action="userPage.html">
                                {% csrf_token %}
								<fieldset>
								  <label for="card-number">Card Number</label>
								  <input type="num" id="card-number" class="input-cart-number" maxlength="4" name="num1"/>
								  <input type="num" id="card-number-1" class="input-cart-number" maxlength="4" name="num2"/>
								  <input type="num" id="card-number-2" class="input-cart-number" maxlength="4" name="num3"/>
								  <input type="num" id="card-number-3" class="input-cart-number" maxlength="4" name="num4"/>
								</fieldset>
								<fieldset>
								  <label for="card-holder">Card holder</label>
								  <input type="text" id="card-holder" name="name"/>
								</fieldset>
								<fieldset class="fieldset-expiration">
								  <label for="card-expiration-month">Expiration date</label>
								  <div class="select">
									<select id="card-expiration-month" name="month">
									  <option></option>
									  <option>01</option>
									  <option>02</option>
									  <option>03</option>
									  <option>04</option>
									  <option>05</option>
									  <option>06</option>
									  <option>07</option>
									  <option>08</option>
									  <option>09</option>
									  <option>10</option>
									  <option>11</option>
									  <option>12</option>
									</select>
								  </div>
								  <div class="select">
									<select id="card-expiration-year" name="year">
									  <option></option>
									  <option>2017</option>
									  <option>2018</option>
									  <option>2019</option>
									  <option>2020</option>
									  <option>2021</option>
									  <option>2022</option>
									  <option>2023</option>
									  <option>2024</option>
									  <option>2025</option>
									  <option>2026</option>
									</select>
								  </div>
								</fieldset>
								<fieldset class="fieldset-ccv">
								  <label for="card-ccv">CCV</label>
								  <input type="password" id="card-ccv" maxlength="3" name="cvv"/>
								</fieldset>
								<button class="btn" type="submit" value="card" name="submit"><i class="fa fa-lock"></i> Add Card</button>
							  </form>
                            {% endif %}
						</div>
						
						<div class="col-9 userPagePaymentOptionsLinksContent" id="userPagePaymentOptionsAddAccount">
							<h4>Coming Soon!</h4>
						</div>
						
					</div>
					<div class="userPagePaymentSavedCards">
						<h2>Saved Cards</h2>
						<ul>
                            {% for card in cards %}
							<li>
								<h2>{{ card.card_number }}</h2>
								<p>Exp: {{ card.expiration_date }}</p>
							</li>
                            {% endfor %}
							<li class="addNewCard">
								<h2>+<br/>Link a Card</h2>
							</li>
						</ul>
					</div>
{#					<div class="userPagePaymentSavedCards">#}
{#						<h2>Linked Accounts</h2>#}
{#						<ul>#}
{#							<li>#}
{#								<h2>{{ user.first_name }} {{ user.last_name }}</h2>#}
{#							</li>#}
{#							<li class="addNewCard">#}
{#								<h2>+<br/>Link a Card</h2>#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
				</div>
			</div>

			<div id="userPageProfileCauses" class="row userPageLeftTabsContent"style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Cause I care about</h1>
				</div>
				<div class="userPageProfileCausesContent">
					<ul>
                        {% for cause in chosen_causes %}
                            <li><i class="fa fa-circle"></i>{{ cause.cause.name }}<i class="fa fa-minus floatRight"></i></li>
                        {% endfor %}
					</ul>
					<div class="userPageProfileCausesAddNewButton" onclick="openCauseAddOverlay()"><i class="fa fa-plus"></i> Add New</div>
				</div>
			</div>
			
			<div id="userPageOngoingCampaigns" class="row userPageLeftTabsContent"style="height: 1300px;">
				
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Ongoing Campaigns</h1>
				</div>
				<div class="userPageFinishedCampaigns">
					<ul>
                        {% if ongoing_project_donations %}
                        {%  for donation in ongoing_project_donations %}
						<li>
							<div class="row userPageFinishedCampaignsImage">
								<img src="{{ project.thumbnail|safe }}">
								<h2>{{ donation.project_id.title }}</h2>
							</div>
							<div class="topRight">
								<h2><i class="fa fa-map-marker"></i>{{ donation.project_id.ngo_id.address }}</h2>
							</div>
							<div class="userPageFinishedCampaignsNGO">
								<h2>By<span>{{ donation.project_id.ngo_id.name }}</span></h2>
							</div>
							<div class="userPageFinishedCampaignsBottom">
								<h2><span>Amount:</span>{{ donation.amount }}</h2>
								<div class="userPageFinishedCampaignsBottomLinks">
									<a  title="Facebook share" target="_blank" class="facebook customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
										<i class="fa fa-facebook"></i>
									</a>
									<a class="google_plus customer share" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
										<i class="fa fa-google-plus"></i>
									</a>
									<a class="twitter-share-button twitter customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
									<a class="bottomLink" onclick="openInNewTab('index.html')">VIEW REPORTS</a>
								</div>
							</div>
							</div>
							<a class="divLink" href="{% url 'projectPage' pk=donation.project_id.project_id %}"></a>
						</li>
                        {% endfor %}
                    {% endif %}
					</ul>
				</div>
				
				<div class="row projects">
		<div class="row recommendedProjectsHeading">
			<h2 class="col-6">Recommended Projects</h2>
			<h2 class="col-6" style="margin-top:-5px;"><a href="{% url 'viewAllProjects' cause='all' funding='all' %}">View all</a></h2>
		</div>
		<div class="row projectsContent">
            {% if projects%}
            {% for project in projects %}
			<div class="projectSection1">
				<div class="row projectContent">
					<div class="projectThumbnail">
{#						<img class="img-thumbnail" src="{{ project.thumbnail.url }}" >#}
                        <img class="img-thumbnail" src="{{ project.thumbnail|safe }}" >
						<div class="row locationCause">
							<div class="projectlocation">
								<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
								<div class="col-2 projectlocationHeading"><h2>{{ project.ngo_id.address }}</h2></div>
							</div>
							<div class="projectcause">
								<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
								<div class="col-4 projectcauseHeading"><h2>{{ project.cause.name }}</h2></div>
							</div>
							<a class="locationCauseLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
						</div>
					</div>

					<div class="projectDetails">
						<h1>{{ project.title }}</h1>
						<h2>{{ project.ngo_id.name }}</h2>
						<p>{{ project.summary }}
						</p>
					</div>

					<div class="row projectBottom">
						<div class="row" style="position:relative;">
							<div class="row projectStats">
								<div class="row" style="margin-bottom: 12px;">
									<h2 class="floatRight">{% fund_percent_achieved project.total_amount project.raised_amount %}%</h2>
								</div>

								<div class="row progress">
									<div class="progress-bar" style="width: {% fund_percent_achieved project.total_amount project.raised_amount %}%;"></div>
								</div>

								<div class="row">
									<div class="stats1 col-5">
										<div class="statsNumber">
											<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span>{{ project.raised_amount }}</p>
										</div>
										<div class="statsText">
											<p>Raised</p>
										</div>
									</div>
									<div class="stats2 col-4">
										<div class="statsNumber">
											<p>{% no_of_donors project %}</p>
										</div>
										<div class="statsText">
											<p>Donors</p>
										</div>
									</div>
									<div class="stats3 col-3">
										<div class="statsNumber">
											<p>{% days_left project.end_date %}</p>
										</div>
										<div class="statsText">
											<p>Days left</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row projectSectionDonateButton">
								<a href="{% url 'projectPage' pk=project.project_id %}"><h2>Donate</h2></a>
							</div>
						</div>
					</div>
				</div>
				<a class="divLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
			</div>
            {% endfor %}
            {% endif %}
		</div>
	</div>
			
				
			</div>
			
			<div id="userPageFinishedCampaigns" class="row userPageLeftTabsContent"style="height: 1300px;">
				
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Finished Campaigns</h1>
				</div>
				<div class="userPageFinishedCampaigns">
					<ul>
                        {% if completed_project_donations %}
                        {%  for donation in completed_project_donations %}
						<li>
							<div class="row userPageFinishedCampaignsImage">
								<img src="{{ project.thumbnail|safe }}">
								<h2>{{ donation.project_id.title }}</h2>
							</div>
                            <div class="topLeft">
								<h2>FINISHED</h2>
							</div>
							<div class="topRight">
								<h2><i class="fa fa-map-marker"></i>{{ donation.project_id.ngo_id.address }}</h2>
							</div>
							<div class="userPageFinishedCampaignsNGO">
								<h2>By<span>{{ donation.project_id.ngo_id.name }}</span></h2>
							</div>
							<div class="userPageFinishedCampaignsBottom">
								<h2><span>Amount:</span>{{ donation.amount }}</h2>
								<div class="userPageFinishedCampaignsBottomLinks">
									<a  title="Facebook share" target="_blank" class="facebook customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
										<i class="fa fa-facebook"></i>
									</a>
									<a class="google_plus customer share" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
										<i class="fa fa-google-plus"></i>
									</a>
									<a class="twitter-share-button twitter customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
									<a class="bottomLink" onclick="openInNewTab('index.html')">VIEW REPORTS</a>
								</div>
							</div>
							</div>
							<a class="divLink" href="">{% url 'projectPage' pk=donation.project_id.project_id %}</a>
						</li>
                        {% endfor %}
                    {% endif %}
					</ul>
				</div>
				
				<div class="row projects">
		<div class="row recommendedProjectsHeading">
			<h2 class="col-6">Recommended Projects</h2>
			<h2 class="col-6" style="margin-top:-5px;"><a href="{% url 'viewAllProjects' cause='all' funding='all' %}">View all</a></h2>
		</div>
		<div class="row projectsContent">
            {% if projects%}
            {% for project in projects %}
			<div class="projectSection1">
				<div class="row projectContent">
					<div class="projectThumbnail">
{#						<img class="img-thumbnail" src="{{ project.thumbnail.url }}" >#}
                        <img class="img-thumbnail" src="{{ project.thumbnail|safe }}" >
						<div class="row locationCause">
							<div class="projectlocation">
								<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
								<div class="col-2 projectlocationHeading"><h2>{{ project.ngo_id.address }}</h2></div>
							</div>
							<div class="projectcause">
								<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
								<div class="col-4 projectcauseHeading"><h2>{{ project.cause.name }}</h2></div>
							</div>
							<a class="locationCauseLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
						</div>
					</div>

					<div class="projectDetails">
						<h1>{{ project.title }}</h1>
						<h2>{{ project.ngo_id.name }}</h2>
						<p>{{ project.summary }}
						</p>
					</div>

					<div class="row projectBottom">
						<div class="row" style="position:relative;">
							<div class="row projectStats">
								<div class="row" style="margin-bottom: 12px;">
									<h2 class="floatRight">{% fund_percent_achieved project.total_amount project.raised_amount %}%</h2>
								</div>

								<div class="row progress">
									<div class="progress-bar" style="width: {% fund_percent_achieved project.total_amount project.raised_amount %}%;"></div>
								</div>

								<div class="row">
									<div class="stats1 col-5">
										<div class="statsNumber">
											<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span>{{ project.raised_amount }}</p>
										</div>
										<div class="statsText">
											<p>Raised</p>
										</div>
									</div>
									<div class="stats2 col-4">
										<div class="statsNumber">
											<p>{% no_of_donors project %}</p>
										</div>
										<div class="statsText">
											<p>Donors</p>
										</div>
									</div>
									<div class="stats3 col-3">
										<div class="statsNumber">
											<p>{% days_left project.end_date %}</p>
										</div>
										<div class="statsText">
											<p>Days left</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row projectSectionDonateButton">
								<a href="{% url 'projectPage' pk=project.project_id %}"><h2>Donate</h2></a>
							</div>
						</div>
					</div>
				</div>
				<a class="divLink" href="{% url 'projectPage' pk=project.project_id %}"></a>
			</div>
            {% endfor %}
            {% endif %}
		</div>
	</div>
			
			</div>
			
			<div id="userPageAccountLogIn" class="row userPageLeftTabsContent"style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>LogIn SETTINGS</h1>
				</div>
            {% if email_form %}
				<form class="form" autocomplete="off" novalidate method="post" action="userPage.html">
                    {% csrf_token %}
					<fieldset>
                        {% if messages %}
                            {% for message in messages %}
                            <i style="color: red">{{ message }}</i>
                            {% endfor %}
                        {% endif %}
					  <label for="userEmail">Enter your new Email</label>
					  <input type="text" id="userEmail" name="new_email"/>
					  <p>*Email not verified</p>
					</fieldset>
					<fieldset>
					  <label for="userOldPassword">Enter Password</label>
					  <input type="password" id="userOldPassword" name="password"/>
					</fieldset>
					<button type="submit" name="submit" value="change_email"> Update Email</button>
				</form>
            {% endif %}

				<button class="changePassword" onclick="toggleChangePasswordForm()"> Change Password</button>
                {% if cp_form %}
				<form class="form changePasswordForm" id="changePasswordForm" autocomplete="off" novalidate method="post" action="userPage.html">
                    {% csrf_token %}
					<fieldset>
					  <label for="userOldPassword">Current Password</label>
					  <input type="password" id="userOldPassword" name="userOldPassword"/>
					</fieldset>
					<fieldset>
					  <label for="userNewPassword">New Password</label>
					  <input type="password" id="userNewPassword" name="userNewPassword"/>
					</fieldset>
					<fieldset>
					  <label for="userReNewPassword">Re-enter New Password</label>
					  <input type="password" id="userReNewPassword" name="userReNewPassword"/>
					</fieldset>
					<button type="submit" name="submit" value="change_password">CHANGE</button>
				</form>
                {% endif %}
			</div>
			
			<div id="userPageAccountNotifications" class="row userPageLeftTabsContent" style="height: 1300px;">
				<div class="row userPageCenterContentHeadings" style="height: 150px;">
					<h1>Notifications SETTINGS</h1>
				</div>
                <form action="userPage.html" method="post">
                    {% csrf_token %}
				<ul class="userPageAccountNotificationsOptions">
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="projectsSupportedNotifications">Projects you have supported</label>
							<fieldset>
								<input type="checkbox" id="projectsSupportedNotificationsMail" {% if notification.supported_projects_email == 'True' %}checked{% endif %} value="True" name = 'supp_mail'/>
								<label for="projectsSupportedNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="projectsSupportedNotificationsMobile" {% if notification.supported_projects_mobile == 'True' %}checked{% endif %} value="True" name = 'supp_mob'/>
								<label for="projectsSupportedNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="causesICareProjectNotifications">Exciting Projects in Causes you care about</label>
							<fieldset>
								<input type="checkbox" id="causesICareProjectNotificationsMail" {% if notification.exciting_projects_email == 'True' %}checked{% endif %} value="True" name="exc_mail"/>
								<label for="causesICareProjectNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="causesICareProjectNotificationsMobile" {% if notification.exciting_projects_mobile == 'True' %}checked{% endif %} value="True" name="exc_mob"/>
								<label for="causesICareProjectNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
					<li class="userPageAccountNotificationsOption">
						<fieldset class="userPageAccountNotificationsOptionHeading">
							<label for="generalNotifications">General Notifications from Reimagine</label>
							<fieldset>
								<input type="checkbox" id="generalNotificationsMail" {% if notification.general_email == 'True' %}checked{% endif %} value="True" name="gen_mail"/>
								<label for="generalNotificationsMail"><i class="fa fa-envelope"></i></label>
							</fieldset>
							<fieldset>
								<input type="checkbox" id="generalNotificationsMobile" {% if notification.general_mobile == 'True' %}checked{% endif %} value="True" name="gen_mob"/>
								<label for="generalNotificationsMobile"><i class="fa fa-mobile"></i></label>
							</fieldset>
						</fieldset>
					</li>
				</ul>
				<button type="submit" name="submit" value="notifications">Save</button>
                </form>
			</div>
			
		</div>
		
		<div class="col-2 userPageRightColumn">
		
			<div class="progress-badge js-progress-badge">
				<div class="badge badge--empty">
					<div class="badge__fill">
						<div class="badge__fill-inner"></div>
					</div>
					<div class="badge__content">
					<div class="badge__content-inner">
						<div class="badge__value">Basic</div>
					</div>
					</div>
				</div>
			</div>
			<h2 class="userPageRightSupporter">Supporter</h2>
			<script src="{% static "userPage.js" %}"></script>
			
						<div class="userPageConnectOptions">
				<h2 class="userPageRightOptionsHeading">Spread The Word</h2>
				<div class="row userPageRightOptionsContent">
					<a title="Facebook share" target="_blank" class="facebook button customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org" >
						<i class="icon">
						  <i class="fa fa-facebook"></i>
						</i>
						<div class="slide">
							<p>
							Facebook
							</p>
						</div>
						<div class="slide1">
							<p>
							Share
							</p>
						</div>
					</a>
				</div>
				<div class="row userPageRightOptionsContent">
					<a class="twitter-share-button twitter button customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
						<i class="icon">
						  <i class="fa fa-twitter">
							</i>
						</i>
					  <div class="slide">
						<p>
						  Twitter
						</p>
					  </div>
					  <div class="slide1">
							<p>
							Tweet
							</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="userPageProjectOptions">
				<h2 class="userPageRightOptionsHeading">Almost Funded</h2>
				<ul>
					<li><div class="projectSection1">
							<div class="row projectContent">
								<div class="projectThumbnail">
									<img class="img-thumbnail" src="{{ max_project.thumbnail|safe }}" >
									<div class="row locationCause">
										<div class="projectlocation">
											<div class="col-1 projectlocationImage"><img src="{% static "images/locationThumbnail.png" %}"></div>
											<div class="col-2 projectlocationHeading"><h2>{{ max_project.ngo_id.address }}</h2></div>
										</div>
										<div class="projectcause">
											<div class="col-1 projectcauseImage"><img src="{% static "images/causeThumbnail.png" %}"></div>
											<div class="col-4 projectcauseHeading"><h2>{{ max_project.cause.name }}</h2></div>
										</div>
										<a class="locationCauseLink" href="{% url 'projectPage' pk=max_project.project_id %}"></a>
									</div>
								</div>
								
								<div class="projectDetails">
									<h1>{{ max_project.title }}</h1>
									<h2>{{ max_project.ngo_id.name }}</h2>
									
								</div>
								
								<div class="row projectBottom">
									<div class="row" style="position:relative;">
										<div class="row projectStats">
											<div class="row" style="margin-bottom: 12px;">
												<h2 class="floatRight">{% fund_percent_achieved max_project.total_amount max_project.raised_amount %}</h2>
											</div>
											
											<div class="row progress">
												<div class="progress-bar"></div>
											</div>
											
											<div class="row">
												<div class="stats1 col-5">
													<div class="statsNumber">
														<p><span style="font-family:Nunito-Bold; font-weight:600;">&#x20b9;</span>{{ max_project.raised_amount }}</p>
													</div>
													<div class="statsText">
														<p>Raised</p>
													</div>
												</div>
												<div class="stats2 col-4">
													<div class="statsNumber">
														<p>{% no_of_donors max_project %}</p>
													</div>
													<div class="statsText">
														<p>Donors</p>
													</div>
												</div>
												<div class="stats3 col-3">
													<div class="statsNumber">
														<p>{% days_left max_project.end_date %}</p>
													</div>
													<div class="statsText">
														<p>Days left</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="divLink" href="{% url 'index' %}"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="{% static "userPage.js" %}"></script>
	
		<footer>
		<div class="row footerOptions">
			<div class="col-2 footerAboutUs">
				<ul>
					<li><h1>About Us</h1></li>
					<li><h2><a>What is Reimagine?</a></h2></li>
{#					<li><h2><a href="{% url 'teamPage' %}">Our Team</a></h2></li>#}
					<li><h2><a href="{% url 'contactUsPage' %}">Contact Us</a></h2></li>
				</ul>
			</div>
			<div class="col-4 footerCauses" >
				<div class="col-6 footerCauses1">
					<ul>
						<li><h1>Causes</h1>                  </li>
						<li><h2><a href="{% url 'index' %}" >Education</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Poverty</a></h2>          </li>
						<li><h2><a href="{% url 'index' %}">Sanitation</a></h2>       </li>
						<li><h2><a href="{% url 'index' %}">Child Welfare</a></h2>    </li>
						<li><h2><a href="{% url 'index' %}">Skill Development</a></h2>  </li>
						<li><h2><a href="{% url 'index' %}">Disaster Recovery</a></h2></li>
                        <li><h2><a href="{% url 'index' %}">LGBTQ</a></h2>                </li>
					</ul>
				</div>
				<div class="col-6 footerCauses2">
					<ul>	
						<li><h2><a href="{% url 'index' %}">Technology</a></h2>              </li>
						<li><h2><a href="{% url 'index' %}">Arts and Culture</a></h2>        </li>
						<li><h2><a href="{% url 'index' %}">Enviorment</a></h2>              </li>
					</ul>
				</div>
			</div>
{#			<div class="col-2 footerWorks">#}
{#				<ul>#}
{#					<li><h1>How it Works</h1>                      </li>#}
{#					<li><h2><a>Stuff</a></h2>                      </li>#}
{#					<li><h2><a>Stuff Stuff</a></h2>                </li>#}
{#					<li><h2><a>We really need to think</a></h2>    </li>#}
{#					<li><h2><a>about this</a></h2>                 </li>#}
{#					<li><h2><a>well not anymore</a></h2>           </li>#}
{#					<li><h2><a>VJ **</a></h2>                      </li>#}
{#				</ul>#}
{#			</div>#}
			<div class="col-4 footerContactShare">
				<ul>
					<li><h1>Contact Us</h1></li>
					<li><h2><span>Email: </span>contact@reimaginegiving.com</h2></li>
					<li><h2><span>Phone:</span> +91-8417048371</h2></li>
					<li><h2><span>Address:</span>IIT(BHU) Varanasi<br/>Varanasi,India-221005</h2></li>
					<li>
						<a  title="Facebook share" target="_blank" class="fb-xfbml-parse-ignore facebook customer share" href="http://www.facebook.com/sharer.php?u=https://www.reimaginegiving.org">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="google_plus customer share" href="https://plus.google.com/share?url=hhttps://www.reimaginegiving.org" title="Google Plus Share" target="_blank">
								<i class="fa fa-google-plus"></i>
							</a>
							<a class="twitter-share-button twitter customer share" href="http://twitter.com/share?url=https://www.reimaginegiving.org;text=Share popup on &amp;hashtags=ReimagineGiving" title="Twitter share" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="linkedin customer share" href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.reimaginegiving.org" title="linkedin Share" target="_blank">
								<i class="fa fa-linkedin" ></i>
							</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footerBottom">
			<a href="{% url 'index' %}">
				<img src="{% static "logo/logo-final-web-white.png" %}"></img>
			</a>
			<h2>cc 2017.</h2>
		</div>
		</div>
	</footer>
</body>